<ion-content class="content-profile">
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="content-header">
        <ion-header>
          <ion-navbar>
            <ion-title>Configurações de conta</ion-title>
          </ion-navbar>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="home-content-input">
          <ion-item>
            <ion-label floating>Nome do Responsável</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Nome da Loja</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Razão Social</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Senha admin</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Senha mestra</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2>Informações cadastrais</h2>
        <ion-item>
          <ion-label floating>Endereço</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cidade</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>WhatsApp</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>CNPJ</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2>Informações para o pagamento</h2>
        <ion-item>
          <ion-label floating>Cartão de crédito</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Data de validade</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Data de vencimento da fatura</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item text-center>
          <a href="#"> Termos de uso e condições</a>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <button block ion-button class="btn-guets-primary btn-login" (click)="save()" type="button">
          salvar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
