page-profile-config {
  body {
    overflow: hidden;
  }

  .no-scroll {
    scroll-content {
      overflow-y: hidden;
    }
  }

  .scroll {
    scroll-content {
      overflow-y: scroll;
    }
  }

  #title {
    background-color: #151c4a;
    text-align: center;
  }

  .button-md-secondary {
    background-color: #488aff;
  }

  #home-button {
    font-size: 1.8rem;
  }

  .button-ios-secondary {
    background-color: #488aff;
  }

  .button-ios {
    margin: -0.9rem 0.2rem;
    font-size: 1.9rem;
  }

  .button-md {
    height: 4.9rem;
    font-size: 1.7rem;
  }

  .btn-register {
    // margin-bottom: 20px;
    text-align: center;
  }

  .btn-synchronize {
    text-align: center;
    margin-top: 45px;
  }

  .img-register {
    text-align: center;
    margin-top: -13px;
  }


  img.image-header {
    width: 50%;
  }

  .logo-club-content {
    padding: 0% !important;
    // position:absolute;
    // text-align: center;
  }

  .text-home {
    font-family: "Corbel", sans-serif !important;
    text-align: center !important;
    font-size: 32px !important;
    color: white;
    margin-top: 30%;
    position: absolute;
  }


  .content-home {
    position: relative;
    height: 100%;
    background-color: rgba(255, 0, 85, 1);
    background: filter-gradient(#ff0055, #ff005e, horizontal);
    background: background-image(linear-gradient(left top, rgba(255, 0, 85, 1) 0%, rgba(255, 0, 94, 1) 100%));
  }

  .home-title {
    text-align: center;
    padding: 10% 0px 10% 0;
    width: 100%;

    span {
      font-weight: bold;
      color: white;
      font-size: 8rem;
      font-family: "adobe-clean", sans-serif;
      vertical-align: baseline;
      resize: none;
    }
  }

  img .content-home {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% !important;
    bottom: 0;
    /* color: black; */
    left: 0;
    overflow: auto;
    padding: 3em;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
  }


  .rectangle {
    width: 100%;
    // height: 0%;
    background-color: #151c4a;
  }

  .img-logo {
    width: 7%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 4%;
  }

  .align-footer {
    transform: translateX(31%);
  }

  .text-footer {
    font-family: "CorpoS" !important;
    text-align: center !important;
    font-size: 15px !important;
    color: white;
  }

  .link-color {
    color: black;
  }


  .link-forgot {
    text-align: left;
    line-height: 55px;

    a {
      color: white;
      font-size: 12px;
    }
  }

  .item.item-input {
    color: black !important;
    padding: 0;
    background-color: transparent;

    ion-label {
      color: black;
    }
  }

  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating] {
    color: black !important;
    border-bottom-color: black;
  }

  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: black !important;
    box-shadow: none !important;
  }

  .item-ios {
    padding-left: 0px;
    background-color: transparent;
  }

  .home-content {
    text-align: center;
    height: 230px;

    .home-content-input {
      color: white;
      margin-bottom: 10px;
    }
  }

  .button-ios.btn-guets-primary {
    margin: 10px 0 10px 0;
    background-color: #FF005E !important;

  }

  .button-default {
    background-color: #FF005E !important;
  }

  .button-ios.btn-guets-primary.activated {
    background-color: #FF005E;
    opacity: 1;
  }

  .btn-login {
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.29);
  }

  .home-footer {
    width: 100%;
    // position: fixed;
  }

  .content-profile {
    background-color: #F0ECDC !important;
  }

  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  h2 {
    padding: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: #FF005E;
  }

  a {  
    margin: 0;
    text-align: center;
    color: #FF005E
  }

  .item {
    background-color: transparent;
  }
}
