<ion-header>
    <ion-title class="textHeader">Política de Privacidade</ion-title>
</ion-header>

<ion-content>
    <p class="privacyText">
        <br> A proteção de sua privacidade no processamento de seus dados pessoais é uma preocupação importante à qual prestamos
        atenção especial durante nossos processos empresariais.
    </p>

    <p class="privacyText">
        <br> Dados pessoais coletados durante visitas no site www.mercedesclub.com.br são processados por nós de acordo com as
        determinações legais válidas para os países onde os sites da Web são mantidos. Além disso, nossa política de proteção
        de dados atende ao Código de Conduta aplicável em toda a companhia. Os sites da Web da Mercedes-Benz podem incluir,
        entretanto, conexões com outros sites da Web que não estão cobertos por esta declaração de privacidade.
    </p>

    <p class="privacyText">
        <b> Coleta e Processamento de Dados Pessoais</b>
        <br>
        <br> Quando você visita nossos sites da Web, nosso servidor automaticamente registra seu endereço IP, o site da Web a
        partir do qual você nos visita, as páginas, a data e a duração de sua visita. Dados pessoais somente são armazenados
        de acordo com o quanto disponibilizados.
    </p>

    <p class="privacyText">
        <b> Uso e Revelação de Dados Pessoais. Especificação de Finalidade</b>
        <br>
        <br> A Mercedes-Benz utilizará seus dados pessoais para a finalidade de administração técnica dos sites da Web, atendimento
        e administração de clientes, pesquisas e marketing de produtos, participação em programas e/ou Campanhas de Incentivo,
        somente até o ponto necessário em cada caso específico.
        <br>
        <br> Nós apenas revelaremos seus dados a autoridades governamentais nos casos exigidos por lei.
    </p>

    <p class="privacyText">
        <b> Liberdade de Escolha</b>
        <br>
        <br> Nós gostaríamos de usar seus dados para informá-lo sobre nossos produtos e serviços e sempre que aplicável solicitar
        sua opinião.
        <br>
        <br> Sua participação é totalmente voluntária. Se você não consentir, você pode nos informar a qualquer hora para que
        possamos proibir especificamente o uso de seus dados.
    </p>

    <p class="privacyText">
        <b> Blocos de Dados (Cookies)</b>
        <br>
        <br> A Mercedes-Benz usa blocos de dados (cookies) para rastrear as preferências do usuário e para atingir um projeto
        correspondentemente otimizado do site da web. Os blocos de dados (Cookies) são pequenos arquivos armazenados em seu
        disco rígido. Isto permite uma navegação mais fácil e um alto grau de facilidade para o usuário em um site da web.
        Os blocos de dados (Cookies) também nos ajudam a identificar áreas particularmente populares do nosso material na
        internet. Isto nos permite personalizar o conteúdo de nossas páginas da internet conforme suas necessidades específicas
        e assim melhorar o serviço de internet que oferecemos a você.
        <br>
        <br> Os blocos de dados (Cookies) podem ser usados para determinar se uma conexão já foi feita anteriormente de seu computador
        para nossos sites. Estes blocos de dados permitem identificar apenas o seu computador. Dados pessoais podem ser armazenados
        em Cookies, desde que você concorde, por exemplo, para facilitar o acesso seguro online para que você não tenha que
        fornecer usuário e senha repetidamente.
        <br>
        <br>Naturalmente, você também pode visualizar nosso site da web sem quaisquer blocos de dados (cookies). A maioria dos
        navegadores aceitam os blocos de dados automaticamente. Você pode evitar que os blocos de dados (cookies) sejam salvos
        em seu disco rígido selecionando a opção "não aceitar blocos de dados (cookies)" no seu ajuste de navegação. Para
        descobrir como isso funciona em seu caso em particular, vide instruções do fornecedor de seu navegador. Além disso,
        você pode apagar o bloco de dados (cookie) da pasta de seu sistema a qualquer momento. Se, contudo, você decidir
        não aceitar os blocos de dados (cookies), isto pode limitar as funções disponíveis para você em nossos sites.
    </p>

    <p class="privacyText">
        <b> Segurança</b>
        <br>
        <br> A Mercedes-Benz usa medidas de segurança técnica e organizacional para proteger os dados que temos sob nosso controle
        contra manipulação acidental ou intencional, perda, destruição ou contra acesso por pessoas não autorizadas.
        <br>
        <br> Nossos procedimentos de segurança são continuamente otimizados à medida que novas técnicas se tornem disponíveis.
    </p>

    <p class="privacyText">
        <b> Liberdade de Informação</b>
        <br>
        <br> Na hipótese de solicitação por escrito, a Mercedes-Benz informará a você por carta quais dados pessoais são armazenados
        por nós conforme definição da legislação vigente. Se tais dados estiverem incorretos, nós corrigiremos essa informação
        a seu pedido. Se você tiver alguma pergunta sobre a proteção e a privacidade de seus dados pessoais, você pode entrar
        em contato com o Oficial de Segurança e Proteção de Dados pelo formulário disponibilizado na página Fale Conosco,
        disponível para acesso em [www.mercedesclub.com.br], bem como por meio do telefone 0800 772 60 09, de 2ª a 6ª Feira,
        das 9h00 as 18h00, exceto em feriados nacionais e feriados da cidade de São Paulo ou através da Central de Relacionamento
        ao Cliente Mercedes-Benz por meio do telefone 0800 970 90 90.
    </p>
</ion-content>
<ion-footer>
    <div class="btn-close">
        <button ion-button (click)="closePrivacyTerms()" color="secondary">Fechar</button>
    </div>
</ion-footer>