page-login-master {


  .scroll-content {
    background-color: #33365F;
  }


  .login-master-title {
    text-align: center;
    padding: 5% 0px 5% 0;
    width: 100%;

    span {
      font-weight: bold;
      color: white;
      font-size: 5rem;
      font-family: "adobe-clean", sans-serif;
      vertical-align: baseline;
      resize: none;
    }
  }

  .login-master-subtitle {
    text-align: center;
    padding: 0 0 10% 0;
    width: 100%;

    span {
      font-weight: bold;
      color: white;
      font-family: "adobe-clean", sans-serif;
      vertical-align: baseline;
      resize: none;
    }
  }



  #title {
    background-color: white;
    text-align: center;
  }


  .container-register {
    margin: auto;
    background: white;
    width: 125px;
    height: 125px;
    margin-bottom: 8%;
    padding: 10px;
    color: #33365f;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.29)
  }


  .container-register {
    text-align: center;
    border: 4px solid #FF005E;

    ion-icon {
      font-weight: bold;
      font-size: 7.5rem;
    }

    p {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0;
    }
  }

  .container-register:active {
    background: #bfbfbf;
    box-shadow: none;
  }

  .link-forgot {
    text-align: left;
    line-height: 55px;

    a {
      color: white;
      font-size: 12px;
    }
  }

  .item.item-input {
    color: white !important;
    padding: 0;
    background-color: transparent;

    ion-label {
      color: white;
    }
  }

  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating] {
    color: white !important;
    border-bottom-color: white;
  }

  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: white !important;
    box-shadow: none !important;
  }

  .item-ios {
    padding-left: 0px;
  }

  .home-content {
    text-align: center;
    height: 230px;

    .home-content-input {
      color: white;
      margin-bottom: 10px;
    }
  }

  .button-ios.btn-guets-primary {
    background-color: #FF005E !important;

  }

  .button-default {
    background-color: #FF005E !important;
  }

  .button-ios.btn-guets-primary.activated {
    background-color: #FF005E;
    opacity: 1;
  }

  .btn-login {
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.29);
  }

}
