<ion-content class="content-login-master">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="login-master-title">
          <span class="font-guets">guets</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="login-master-subtitle">
          <span>
            Insira a senha mestra para acessar a página!</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>

        <div class="home-content-input">
          <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col col-12 class="link-forgot">
        <a href="#">Esqueci minha senha</a>
      </ion-col>
      <ion-col col-12>
        <button block ion-button icon-start class="btn-guets-primary btn-login" type="button" (click)="login()">
          <ion-icon name="log-in"></ion-icon>
          Entrar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
