<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Top Guets</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-top-guets">
    <ion-grid>
      <ion-row class="title">
        <ion-col col-9>
          Nome
        </ion-col>
        <ion-col col-3>
          Guets
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col col-2>
          <span>
            1</span>
        </ion-col>
        <ion-col col-7 text-left>
          <div class="img-profile">
            <img src="assets/img/avatar/girl-avatar.png" /> <span>Felipe C</span></div>
        </ion-col>
        <ion-col col-3>
          <span> 20</span>
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col col-2>
          <span>
            2</span>
        </ion-col>
        <ion-col col-7 text-left>
          <div class="img-profile">
            <img src="assets/img/avatar/girl-avatar.png" /> <span>Felipe C</span></div>
        </ion-col>
        <ion-col col-3>
          <span> 15</span>
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col col-2>
          <span>
            3</span>
        </ion-col>
        <ion-col col-7 text-left>
          <div class="img-profile">
            <img src="assets/img/avatar/girl-avatar.png" /> <span>Felipe C</span></div>
        </ion-col>
        <ion-col col-3>
          <span> 10</span>
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col col-2>
          <span>
            4</span>
        </ion-col>
        <ion-col col-7 text-left>
          <div class="img-profile">
            <img src="assets/img/avatar/girl-avatar.png" /> <span>Felipe C</span></div>
        </ion-col>
        <ion-col col-3>
          <span> 5</span>
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col col-2>
          <span>
            5</span>
        </ion-col>
        <ion-col col-7 text-left>
          <div class="img-profile">
            <img src="assets/img/avatar/girl-avatar.png" /> <span>Felipe C</span></div>
        </ion-col>
        <ion-col col-3>
          <span> 0</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
