page-top-guets {
  body {
    background-color: #F0ECDC;
  }

  ion-grid {
    padding: 0px !important;
  }

  ion-col {
    padding: 0px;
  }

  ion-content {
    background-color: #F0ECDC;
  }


  .scroll-top-guets {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }



  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-top-guets {
    margin-top: 57px;

    .title {
      font-size: 22px;
      color: white;
      text-align: center;
      font-weight: bold;
      background: #33365F;

      ion-col {
        border: 2px solid #ececec;
      }
    }

    .content {
      text-align: center;
      font-size: 22px;
      color: #33365F;
      text-align: center;
      font-weight: bold;
      background: white;

      ion-col {
        text-align: center;
        border: 2px solid #ececec;
      }

      span {
        color: #33365F;
        line-height: 70px;
      }

    }

    .img-profile {
      padding-top: 5px;

      img {

        margin-right: 10px;
        border: 2px solid #FF005E;
        border-radius: 100%;
        height: 60px;
        width: 60px;
        box-shadow: 0 0 5px gray;
        border-radius: 100%;
      }

      span {
        color: #33365F;
        line-height: 65px;
        position: absolute;
      }

    }

  }

}
