<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Presente</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-post-gift-send">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Descrição</span>
        </ion-col>
        <ion-col col-12>
          <ion-textarea name="post-gift-send" placeholder="Descrição do presente..."></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Selecione uma imagem</span>
        </ion-col>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            Carregar imagem
            <input type="file" id="file-input">
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Data comemorativa</span>
        </ion-col>
        <ion-col col-12>
          <ion-input name="date" placeholder="ex: Dia das mães..."></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Seus Top Guets </span>
        </ion-col>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>100 primeiros</ion-label>
              <ion-radio value="cemprimeiros" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>500 primeiros</ion-label>
              <ion-radio value="quinhentosprimeiros"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>1000 primeiros</ion-label>
              <ion-radio value="milprimeiros"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>todos</ion-label>
              <ion-radio value="todos"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Gênero</span>
        </ion-col>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Masculio </ion-label>
              <ion-radio value="masculio" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Feminino</ion-label>
              <ion-radio value="feminino"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Masc / Fem</ion-label>
              <ion-radio value="mascfem"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Fem / Masc</ion-label>
              <ion-radio value="femmasc"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Nascidos até</span>
        </ion-col>
        <ion-col col-12>
          <ion-input name="date" placeholder="dd/mm/aaaa"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Relacionamento</span>
        </ion-col>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Solteiro / Divorciado / Viúvo</ion-label>
              <ion-radio value="solteirodivorciadoviuvo" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Namorando / Noivo</ion-label>
              <ion-radio value="namorandonoivo"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Casado</ion-label>
              <ion-radio value="casado"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Possui filhos </span>
        </ion-col>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Entre 0 e 12 anos</ion-label>
              <ion-radio value="doze" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Entre 13 e 17 anos</ion-label>
              <ion-radio value="trezedezessete"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Acima de 18 anos </ion-label>
              <ion-radio value="dezoito"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Profissão</span>
        </ion-col>
        <ion-col col-12>
          <ion-input name="date" placeholder="Comerciante"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Possui PET </ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <span class="label-post-gift-send">Apagar publicação automaticamente</span>
        </ion-col>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Após 7 dias</ion-label>
              <ion-radio value="sete" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 15 dias</ion-label>
              <ion-radio value="quinze"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 21 dias</ion-label>
              <ion-radio value="vinteum"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 30 dias</ion-label>
              <ion-radio value="trinta"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block color="primary" type="button">
            Publicar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
