<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Lista de Desejo</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-post-wish">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-wish">Faça aqui o seu pedido...</span>
        </ion-col>
        <ion-col col-12>
          <ion-textarea name="post-wish" placeholder="Ex: Quero um ótimo restaurante para comemorar o meu aniversário com mais 20 amigos e que me ofereça um bom desconto!"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-wish">Selecione uma imagem</span>
        </ion-col>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            Carregar imagem
            <input type="file" id="file-input">
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-wish">Enviar para o segmento de</span>
        </ion-col>
        <ion-col col-12>
          <ion-select interface="action-sheet">
            <ion-option value="1">Restaurante</ion-option>
            <ion-option value="2">Cinema</ion-option>
            <ion-option value="3">Vestuário</ion-option>
            <ion-option value="4">Veículos</ion-option>
            <ion-option value="5">Roupas</ion-option>
            <ion-option value="6">Alimentação</ion-option>
            <ion-option value="7">July</ion-option>
            <ion-option value="8">Lazer </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            Enviar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
