page-report-abuse {
  body {
    background-color: #F0ECDC;
  }


  ion-content {
    background-color: #F0ECDC;
  }



  .scroll-notification-trade {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }




  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }


  .content-report-abuse {
    margin-top: 55px;

    .content {
      padding: 0px 15px 0px 15px;
      background: #33365F;

      p {
        color: white;
      }
    }


    h2 {
      color: #33365F;
      font-weight: bold;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0;
      color: #FF005E;
    }

    .content {
      color: #707070;
    }

    ion-textarea {
      border: 1px solid silver;
      border-radius: 5px;
      background: white;
    }
  }
}
