<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Denunciar abuso </ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-report-abuse">
    <ion-grid>
      <ion-row class="content">
        <ion-col col-12>
          <p>
            No Guets é considerado abuso qualquer publicação com conteúdo de:
          </p>
          <p>
            - Abuso a qualquer forma de vida;
          </p>
          <p>
            - Pornografia;
          </p>
          <p>
            - Incitação a violência;
          </p>
          <p>
            - Preconceito de qualquer natureza;
          </p>
          <p>
            - O uso de palavrões e ofensas.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-textarea name="post"  placeholder="Faça sua denuncia..."></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button block color="danger" type="button">
          Enviar
        </button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
