<ion-header>
    <ion-title class="textHeader">Regulamento Mercedes Club</ion-title>
</ion-header>

<ion-content>
    <p class="privacyText">

        <b>1. DO PROGRAMA</b>
        <br>
        <br>
        <br>
        <b>1.1</b> O Programa de relacionamento “MERCEDES CLUB”, doravante denominado “Programa”, promovido pela MERCEDES-BENZ
        DO BRASIL LTDA., empresa sediada na Av. Alfred Jurzykowski, 562, na cidade de São Bernardo do Campo, Estado de São
        Paulo, inscrita no CNPJ/MF sob o nº. 59.104.273/0001-29, doravante denominada “MERCEDES-BENZ”, tem como objetivo
        oferecer prêmios e benefícios aos proprietários de frotas, motoristas autônomos, proprietários de oficinas independentes
        participantes, bem como motoristas de frota, gestores de frota, gestores de manutenção de frotas, almoxarife e compradores
        de frotas, compradores, gerentes e mecânicos de Oficinas Independentes (“Participantes”), observadas as condições
        constantes no presente Regulamento.
        <br>
        <b>1.1.1</b> Não estão aptos a participar do programa as Seguradoras participantes do Programa Gerenciamento de Acidentes,
        Órgãos Governamentais e Forças Armada
        <b></b>s.

        <br>
        <b>1.2</b> Ao cumprirem as regras aqui determinadas, os Participantes poderão receber Pontos e/ou Estrelas que poderão
        ser trocados por descontos e benefícios na Plataforma do Programa www.mercedesclub.com.br, a título de recompensa.
        <br>
        <b>1.3</b> O Programa terá vigência por um período indeterminado, sendo que a MERCEDES-BENZ poderá a seu critério, estabelecer
        a qualquer tempo um prazo de encerramento, comunicando aos Participantes o prazo de utilização de Pontos e Estrelas
        remanescentes.
        <br>
        <b>1.4</b> O Programa reconhecerá o relacionamento dos Participantes com a MERCEDES-BENZ, que adquirirem produtos e
        serviços e que realizarem ações de relacionamento e engajamento propostas, tudo de acordo com os requisitos previstos
        neste Regulamento, oferecendo a oportunidade de recompensa e reconhecimento por meio de:

        <br>
        <br>(a) resgate de pontos obtidos conforme mecânica do Programa;

        <br>
        <br> (b) acesso ao Clube de Benefícios, uma Plataforma de benefícios onde serão oferecidos descontos e ofertas promocionais
        de parceiros da MERCEDES-BENZ;

        <br>
        <br> (c) promoções especiais dirigidas aos Participantes, ofertadas na Plataforma;

        <br>
        <br> (d) relacionamento por meio de ações de comunicação e ações promocionais.

        <br>
        <br>
        <br>
        <b>1.5</b> Este Regulamento estipula as regras para utilização da Plataforma pelos Participantes, e estão disponíveis
        para acesso, a qualquer momento, por meio do link “Regulamento” disponível em [www.mercedesclub.com.br].
        <br>
        <b>1.6</b> Aplicam-se ao presente Regulamento, ainda, o quanto disposto na Política de Privacidade, disponível para
        acesso em [www.mercedesclub.com.br]
        <br>
        <b>1.7</b> Em caso de quaisquer dúvidas sobre o disposto neste Regulamento o Participante deverá entrar em contato com
        o MERCEDES-BENZ por meio da página “Fale Conosco”, disponível em [www.mercedesclub.com.br].

        <br>
        <br>
        <b>2. ACEITAÇÃO DO REGULAMENTO</b>
        <br>
        <br>
        <br>
        <b>2.1</b> O aceite a este Regulamento se dará no momento do clique do Participante no botão “Aceito”, quando de seu
        primeiro acesso à Plataforma, estando a utilização condicionada à integral aceitação do quanto disposto no presente
        documento, sendo certo que, caso o Participante não concorde com o quanto aqui estipulado, deverá se abster de utilizar
        a Plataforma.
        <br>
        <b>2.2</b> Exceto em caso de expressa previsão legal em sentido contrário, este Regulamento poderá ser atualizado ou
        modificado a qualquer momento, a exclusivo critério da MERCEDES-BENZ, independentemente de qualquer formalidade e
        comunicação, cabendo ao Participante verificar novamente o conteúdo a cada modificação, conforme data de atualização
        constante ao final deste documento.
        <br>
        <b>2.3</b> A continuidade de utilização da Plataforma pelo Participante implicará na irrestrita aceitação das condições
        fixadas, incluindo as alterações que porventura venham a ser realizadas.

        <br>
        <br>
        <b>3. DA UTILIZAÇÃO DA PLATAFORMA</b>
        <br>
        <br>
        <br>
        <b>3.1</b> Ao utilizar a Plataforma, o Participante declara e reconhece que:

        <br>
        <br>(a) Deverá manter sempre seu cadastro devidamente atualizado, especialmente seu endereço e informações de contato,
        e de sua frota, quando aplicável;

        <br>
        <br>(b) Não poderá inserir ou produzir na Plataforma, por qualquer meio, conteúdo ilícito, que viole direitos de terceiros
        ou que seja de qualquer modo contrário a moral e aos bons costumes geralmente aceitos;

        <br>
        <br>(c) É vedada a inserção na Plataforma de conteúdo que incorpore vírus ou outros elementos físicos ou eletrônicos
        que possam causar danos ou impedir o normal funcionamento da rede, do sistema ou de equipamentos informáticos, da
        MERCEDES-BENZ, ou de terceiros; e

        <br>
        <br>(d) É vedada a inserção na Plataforma de conteúdo que provoque, por suas características (tais como forma, extensão
        etc.), dificuldades no normal funcionamento da Plataforma.

        <br>
        <br>(e) Não é permitido o compartilhamento dos dados do Programa, tais como senhas, usuário, dados de pontuação, fotos
        de perfil, em redes sociais ou qualquer outro meio de divulgação, seja em páginas da web ou outros aplicativos.

        <br>
        <br>
        <b>3.2</b> O Participante se compromete a utilizar a Plataforma e o seu conteúdo, ou seja, os textos, imagens, fotografias,
        gráficos, ícones, tecnologia, links e demais conteúdos audiovisuais ou sonoros, incluindo o software da Plataforma,
        desenhos gráficos e códigos fonte (em conjunto, “Conteúdo(s)”), de acordo com todo o ordenamento jurídico, com a
        moral e os bons costumes geralmente aceitos, os presentes Termos e eventuais instruções adicionais existentes na
        Plataforma.
        <br>
        <b>3.3</b> O Participante deverá se abster de obter, ou de tentar obter, os Conteúdos por quaisquer meios distintos
        daqueles que, em cada caso, tenham sido colocados à disposição para tais propósitos.
        <br>
        <b>3.4</b> Em qualquer circunstância, o Participante será o único responsável pelo uso que fizer da Plataforma, eximindo
        a MERCEDES-BENZ de qualquer responsabilidade por eventuais danos ou prejuízos decorrentes do uso indevido ou inadequado
        que o Participante fizer da Plataforma.

        <br>
        <br>
        <b>4. DO CADASTRO DO PARTICIPANTE</b>
        <br>
        <br>
        <b>4.1</b> Os Participantes poderão participar do Programa, mediante o cumprimento das seguintes condições:

        <br>
        <br>a) providenciar o cadastro na Plataforma www.mercedesclub.com.br;

        <br>
        <br> b) ler detalhadamente e dar o aceite ao presente Regulamento por meio da Plataforma www.mercedesclub.com.br

        <br>
        <br>
        <br>
        <b>4.2</b> O cadastro mencionado no item 4.1 acima deverá ser efetuado pelo Participante, e seu acesso à Plataforma
        se dará mediante login e senha de acesso, após o cadastro do Participante no sistema. O participante poderá utilizar
        a seu exclusivo critério e risco o login e senha de outros aplicativos (Facebook, Google, dentre outros) para acesso
        ao Programa, desde que o participante complete seu cadastro quando solicitado na Plataforma.
        <br>
        <b>4.3</b> A efetivação do acesso depende de validação positiva do cadastro do Participante, por meio da conferência
        das informações fornecidas, tais como CPF/CNPJ e data de nascimento, dentre outras.
        <br>
        <b>4.4</b> Poderão se registrar e utilizar a Plataforma Participantes plenamente capazes, nos termos da legislação brasileira,
        incluindo pessoas físicas e jurídicas. Dessa forma, menores de 18 (dezoito) anos de idade, exceto os emancipados,
        nos termos do parágrafo único do artigo 5º do Código Civil Brasileiro, não poderão utilizar a Plataforma, sendo vedado
        seu cadastro como Participante.
        <br>
        <b>4.5</b> Em qualquer hipótese, o Participante se compromete a fornecer todas as informações obrigatórias solicitadas
        quando de seu cadastro, de forma correta e verdadeira, responsabilizando-se por qualquer informação incorreta ou
        inverídica inserida na Plataforma.
        <br>
        <b>4.6</b> Para conclusão do cadastro o participante receberá uma senha (token) via SMS ou e-mail para validação na
        Plataforma.
        <br>
        <b>4.7</b> Após a conclusão do cadastro, o Participante terá acesso ao conteúdo da Plataforma.
        <br>
        <b>4.8</b> O participante poderá desde logo cadastrar a sua frota ou o veículo que possui por meio do fornecimento do
        respectivo Chassi. Caso não disponha dos dados no momento do cadastro inicial poderá fazê-lo posteriormente, obrigatoriamente
        no momento do resgate.

        <br>
        <br>
        <b>5. AQUISIÇÃO E TROCA DE PONTOS</b>
        <br>
        <br>
        <br>
        <b>5.1</b> Após o cumprimento de todas as condições deste Regulamento os Participantes motoristas autônomos, proprietário
        de frotas e de oficinas independentes poderão acumular pontos do Programa, na forma prevista no presente Capítulo
        5.
        <br>
        <b>5.2</b> Os demais participantes não estão aptos a receber pontos no Programa, exceto se houver expressa autorização
        da MERCEDES-BENZ em ações especiais, cujo regulamento será divulgado por ocasião da realização.
        <br>
        <b>5.3</b> Somente poderão resgatar pontos os Participantes que forem proprietários de frotas e motoristas autônomos
        participantes, que tiverem seu CPF ou CNPJ vinculado a um chassi de veículo da marca MERCEDES-BENZ ou multimarcas.
        <br>
        <b>5.3.1</b> A MERCEDES-BENZ poderá consultar os órgãos públicos ou de uma empresa privada para verificar se o chassi
        informado efetivamente está vinculado ao CPF ou CNPJ/MF informado pelo Participante no ato da realização do cadastro.
        Se o chassi informado não estiver vinculado ao CPF ou CNPJ informado, os pontos serão computados, mas não poderão
        ser resgatados até que o participante envie através da plataforma os respectivos comprovantes.
        <br>
        <b>5.3.2</b> Caso o participante faça apenas a primeira parte do cadastro e não informe os Chassi, este não poderá realizar
        resgates até que os informe.
        <br>
        <b>5.3</b> Os participantes proprietários de Oficinas Independentes cadastradas na Rede MERCEDES-BENZ poderão resgatar
        pontos independentemente de terem ou não um chassi vinculado ao seu CNPJ/MF.
        <br>
        <b>5.4</b> Os pontos serão concedidos de acordo com a aquisição de produtos e serviços da MERCEDES-BENZ abaixo indicados:

        <br>
        <br> a) Peças Genuínas Mercedes-Benz de Caminhões e Ônibus

        <br>
        <br>b) Peças Remanufaturadas Mercedes-Benz Renov

        <br>
        <br>c) Peças Alliance

        <br>
        <br>d) Lubrificantes Genuínos Mercedes-Benz

        <br>
        <br>e) Planos de Manutenção*, desde que com a mensalidade em dia

        <br>
        <br>f) Fleetboard*, desde que com a mensalidade em dia

        <br>
        <br>g) Serviços de Mão de Obra realizados nos concessionários participantes desde que haja pelo menos a aplicação de
        um dos itens/peças participantes.

        <br>
        <br>(*) para que haja pontuação, as parcelas referentes ao pagamento dos itens Plano de Manutenção e Fleetboard deverão
        estar quitadas sem que haja qualquer atraso, assim como os clientes novos necessariamente deverão ter efetuado o
        pagamento da primeira parcela.

        <br>
        <br>
        <br>
        <b>5.4.1</b> A venda direta ou com condições especiais negociadas com a Mercedes-Benz do Brasil, dos produtos e serviços
        descritos na cláusula 5.4, NÃO PONTUAM no Programa.
        <br>
        <b>5.5</b> A cada R$1,00 (Um real) pago pelo Participante para aquisição dos produtos e serviços listados no item 5.4
        este receberá 1 (um) ponto).
        <br>
        <b>5.6</b> A MERCEDES-BENZ concederá 3 (três) pontos a cada R$1,00 (Um real) pago pelo participante para aquisição dos
        seguintes produtos e serviços:

        <br>
        <br>a) 1ª. revisão fora da garantia desde que haja serviços de mão de obra nesta visita ao concessionário participante
        nos itens participantes.

        <br>
        <br>b) Realização dos serviços indicados no item 5.4 por veículos participantes a partir do 6º ano de fabricação ou mais,
        desde que haja serviços de mão de obra nesta visita em concessionários participantes nos itens participantes.

        <br>
        <br>
        <b>5.7</b> O Programa poderá criar aceleradores que permitirão o acúmulo de mais pontos por transação, os quais serão
        divulgados na plataforma do programa, por meio de campanhas específicas.
        <br>
        <b>5.8</b> Para fins do presente Programa, serão considerados os valores efetivamente quitados pelos Participantes nos
        estabelecimentos credenciados ao Programa, somando-se todas as transações válidas e legítimas. Não serão computadas
        as transações que forem objeto de estorno ou cancelamento.
        <br>
        <b>5.9</b> Caso os pontos tenham sido computados indevidamente, após reavaliação do cálculo, serão descontados os pontos
        eventualmente recebidos pelo Participante indevidamente que ainda não tiverem sido resgatados. Caso já tenha havido
        resgate, o participante terá sua conta de premiação negativada para posterior compensação quando do crédito de novos
        pontos.
        <br>
        <b>5.10</b> Os pontos somente serão concedidos a partir da data do cadastro no programa. Não serão computados pontos
        de forma retroativa antes da realização do cadastro.
        <br>
        <b>5.11</b> O Participante tem ciência de que o lançamento dos Pontos em sua Conta de Premiação depende do recebimento
        das informações enviadas por terceiros, sendo estes os únicos responsáveis perante os consumidores pela demora ou
        falta de envio da solicitação de concessão de Pontos na conta do Participante, no prazo acordado.
        <br>
        <b>5.12</b> A MERCEDES-BENZ poderá, a seu exclusivo critério, estabelecer as categorias que cada participante participará,
        as quais poderão ter variedade diferenciada de benefícios, bem como estabelecer pontuação diferenciada para a troca
        dos produtos ou serviços na Rede de Concessionários participantes MERCEDES-BENZ e benefícios do Programa.
        <br>
        <b>5.12.1</b> No momento do cadastro o participante escolherá a categoria que entende se enquadrar, podendo a MERCEDES-BENZ
        reenquadra-lo na categoria adequada, de acordo com as regras do Programa.
        <br>
        <b>5.13</b> O Participante somente poderá trocar os pontos a ele atribuídos pelos produtos ou serviços indicados na
        tabela abaixo na Rede de Concessionários MERCEDES-BENZ participantes , as quais poderão ser consultadas na Plataforma
        do Programa www.mercedesclub.com.br, se observar os seguintes requisitos:

        <br>
        <br>a) Tenha o participante atingido a sua meta de compras de produtos e serviços indicada na Plataforma “a qual terá
        por base o histórico de compras dos últimos 24 (vinte e quatro) meses”.

        <br>
        <br>b) Quando o Participante for motorista autônomo ou proprietário de frota, ter realizado o cadastro da sua frota ou
        veículo participante, por meio do fornecimento do Chassi, devidamente validado pela MERCEDES-BENZ

        <br>
        <br>c) Observar o limite de resgate de até 20.000 (vinte mil) pontos por chassi válido cadastrado no Programa. Produtos
        e Serviços:

        <br>
        <br> Peças Genuínas Mercedes-Benz de Caminhões e Ônibus
        <br> Peças Remanufaturadas Mercedes-Benz Renov
        <br> Peças Alliance
        <br> Lubrificantes Genuínos Mercedes-Benz
        <br> Serviços de Mão de Obra realizados nos concessionários participantes desde que haja pelo menos a aplicação de um
        dos itens/peças participantes.
        <br>
        <br>
        <b>5.14</b> O resgate de pontos somente poderá ser realizado pelos participantes Proprietários de Frota, Motorista Autônomo
        ou Proprietário de Oficina Independente. Os demais participantes não estão autorizados a realizar resgates de pontos
        no Programa.
        <br>
        <b>5.15</b> Os pontos poderão ser utilizados para obtenção de descontos em peças e serviços MERCEDES-BENZ, para uso
        exclusivo na Rede de Concessionários Mercedes-Benz participantes.
        <br>
        <b>5.16</b> Os Pontos também poderão dar direito a números da sorte, que habilitam a participação em sorteios a serem
        realizados pela MERCEDES-BENZ no curso do Programa, cujos regulamento serão divulgados na Plataforma.
        <br>
        <b>5.17</b> A quantidade de pontos necessárias para receber 1 (um) número da sorte poderá variar de acordo com a categoria
        do Participante, que será divulgada na plataforma.
        <br>
        <b>5.18</b> Os números da sorte resgatados pelos Participantes terão a validade informada no regulamento do respectivo
        sorteio, período após o qual expirarão.
        <br>
        <b>5.19</b> A quantidade de pontos necessária para aquisição ou descontos em produtos e serviços estará disponível para
        consulta na Plataforma.
        <br>
        <b>5.20</b> A MERCEDES-BENZ, no curso do Programa, poderá alterar os parceiros de benefícios, os quais estarão disponíveis
        para consulta diretamente na Plataforma do Programa.
        <br>
        <b>5.21</b> O Participante entende e reconhece que a troca de pontos poderá ser restrita a produtos ou serviços da Rede
        de Concessionários MERCEDES-BENZ participantes.
        <br>
        <b>5.22</b>
        Os pontos disponibilizados ao Participante terão validade de 5 (cinco) anos contados do crédito na conta de premiação, período
        após o qual serão expirados, sem direito à reembolso . É de responsabilidade exclusiva do Participante utilizar seus
        pontos, antes da expiração do prazo, não se responsabilizando a MERCEDES-BENZ, em hipótese alguma, caso o Participante
        não os utilize, dentro do prazo máximo estipulado.
        <br>
        <b>5.23</b> Em caso de encerramento do Programa, a MERCEDES-BENZ disponibilizará informação acerca do encerramento na
        plataforma do programa visando informar aos participantes da necessidade, conforme aplicável, de realizar os resgates,
        de acordo com este Regulamento. Decorrido tal prazo, os pontos adquiridos e não utilizados perderão imediatamente
        a sua validade, não podendo haver quaisquer resgates ou reembolsos a que título que for.
        <br>
        <b>5.24</b> Caso o participante solicite o cancelamento voluntário da sua Conta no Programa, os eventuais créditos,
        incluindo pontos e estrelas remanescentes não poderão ser objeto de utilização reembolso ou indenização.
        <br>
        <b>5.25</b> Em hipótese alguma os pontos ou as estrelas obtidas pelos Participantes poderão ser convertidas em dinheiro
        ou trocados por quaisquer produtos ou serviços não constantes das Parcerias disponibilizadas ao Participante quando
        de seu acesso a Plataforma.
        <br>
        <b>5.26</b> A troca dos pontos ou de Estrelas pelos produtos ou serviços estão sujeitos à disponibilidade. A operação
        de troca por alguns produtos ou serviços poderá não ser concluída, em razão de sua indisponibilidade.
        <br>
        <b>5.27</b> A Plataforma poderá sugerir produtos e serviços para resgate pelos Participantes de acordo com o seu perfil
        de consumo.
        <br>
        <b>5.28</b> Os pontos do participante poderão ser cancelados nas seguintes hipóteses:

        <br>
        <br>a) Erro no cômputo dos pontos;

        <br>
        <br>b) Fraude ou tentativa de fraude pelo Participante, através de códigos maliciosos, vírus ou quaisquer outras formas
        que visem à obtenção de vantagens indevidas.

        <br>
        <br>c) na hipótese do extrato de pontos sofrer alterações decorrentes de resgate, cancelamento de pontos ou ainda estorno
        total ou parcial dos pontos decorrentes de produtos anteriormente pontuados.

        <br>
        <br>
        <b>5.29</b> É expressamente proibida toda e qualquer forma de comercialização de Pontos ou Estrelas no Programa pelos
        Participantes. A comprovação de tal prática ensejará a imediata exclusão do Participante do Programa e o cancelamento
        de seus Pontos e Estrelas, sem direito a compensação ou indenização de qualquer natureza.
        <br>
        <b>5.30</b> Os pontos e estrelas são pessoais e não se transmitirão por venda, sucessão ou herança.
        <br>
        <b>5.31</b> No caso de falecimento do Participante o seu cadastro será encerrado e os pontos e benefícios eventualmente
        existentes serão cancelados, sem direito a compensação ou indenização de qualquer natureza.
        <br>
        <b>5.32</b> No caso de venda do veículo objeto do cadastro, os pontos existentes até a data da transferência do veículo
        permanecem válidos tão somente para o participante já cadastrado que adquiriu mencionada pontuação.

        <br>
        <br>
        <b>6. AQUISIÇÃO E TROCA DE ESTRELAS</b>
        <br>
        <br>
        <br>
        <b>6.1</b> Após o cumprimento de todas as condições deste Regulamento os Participantes poderão acumular Estrelas do
        Programa, na forma prevista no presente Capítulo 6, desde que cumpram determinados requisitos indicados abaixo.
        <br>
        <b>6.2</b> As Estrelas serão concedidas de acordo com a realização de atividades de interação propostas pela MERCEDES-BENZ
        e realizadas pelo Participante de acordo com as atividades estabelecidas abaixo:
        <br>
        <br>
        <b>Ações:</b>
        <br>
        <b>Estrelas:</b>
        <br>
        <br>Ao vender o caminhão o usuário informa o contato do comprador (participam motorista autônomo e proprietário de frota),
        desde que o novo proprietário realize o cadastro no Programa
        <br>
        <b>250</b>
        <br>
        <br> Indicação de novo participante, vinculada a ativação do indicado no programa
        <br>
        <b>50</b>
        <br>
        <br> Participação em pesquisas e enquetes disponibilizadas na Plataforma e que contenham a indicação de concessão de
        Estrelas
        <br>
        <b>50</b>
        <br>
        <br> Participação em promoções e ações pontuais que contenham a indicação de concessão de Estrelas
        <br>
        <b>50</b>
        <br>
        <br> Aniversário do participante
        <br>
        <b>25</b>
        <br>
        <br> Ao completar o cadastro
        <br>
        <b>25</b>
        <br>
        <br> Compartilhamento em redes sociais
        <br>
        <b>05</b>
        <br>
        <br> Por acesso com interação na plataforma que contenham a indicação de concessão de Estrelas. Ex.: Assistir a um vídeo,
        clicar em uma notícia ou em qualquer menu que o leve para páginas além da Home.
        <br>
        <b>01</b>
        <br>
        <br>
        <br>
        <b>6.3</b> As Estrelas não permitem a troca por produtos e serviços em concessionários Mercedes-Benz e são apenas parâmetros
        para identificar as conquistas dos Participantes de modo a destravar seu acesso aos benefícios disponíveis em parceiros.
        <br>
        <b>6.4</b> Por meio das Estrelas os participantes poderão ter acesso a ofertas exclusivas, oferecidas por diversos parceiros,
        disponíveis na Plataforma no momento da utilização. A quantidade e tipo de parceiros poderá variar durante a vigência
        do Programa.
        <br>
        <b>6.5</b> O participante escolhe a oferta do seu interesse e será direcionado para a página do parceiro para concluir
        a compra e efetuar o pagamento, quando o caso comportar, de acordo com as condições apresentadas pelo parceiro.
        <br>
        <b>6.6</b> Na Plataforma estarão indicadas as ofertas disponibilizadas pelos parceiros e as condições para utilização
        dos benefícios disponíveis.
        <br>
        <b>6.7</b> Após escolher a oferta que pretende adquirir o Participante será direcionado para a página do parceiro, para
        concluir a compra.
        <br>
        <b>6.8</b> Os parceiros e ofertas são rotativos e podem ser alterados sem aviso prévio, cabendo ao Participante consultar
        as ofertas disponíveis no momento da efetiva aquisição.
        <br>
        <b>6.9</b> As regras referentes à restrição das ofertas, tais como valor mínimo, datas em que determinadas ofertas não
        são validas e pré-requisitos deverão ser consultadas na Plataforma do parceiro antes da conclusão da compra.
        <br>
        <b>6.10</b> A quantidade de Estrelas para outras interações será inserida na medida em que forem sendo criadas e poderão
        ser consultadas na Plataforma do Programa www.mercedesclub.com.br.
        <br>
        <b>6.11</b> A quantidade de Estrelas concedida por cada interação bem como a quantidade de pontos concedidos poderão
        ser alterados a qualquer momento pela MERCEDES-BENZ, sem necessidade de prévia comunicação aos participantes. As
        informações estarão disponíveis diretamente na Plataforma e passarão a vigorar a partir de sua disponibilização/publicação.
        <br>
        <b>6.12</b> As Estrelas terão validade de 12 (doze) meses contados do crédito na conta do Participante, período após
        o qual expiram.
        <br>
        <b>6.13</b> De acordo com a quantidade de estrelas acumuladas o Participante destravará um nível de acesso com benefícios
        e parceiros diferentes. Para que o participante se mantenha em determinada categoria deverá permanecer ativamente
        engajado no programa, podendo na hipótese de inatividade ou descontinuidade de participação voltar para categoria
        anteriores.

        <br>
        <br>
        <b>7. PRESTAÇÃO DE SERVIÇOS E ENTREGA DE PRODUTOS</b>
        <br>
        <br>
        <br>
        <b>7.1</b> A MERCEDES-BENZ atua apenas como intermediadora entre o Participante e a Rede de Concessionários participantes.
        Desta forma, a entrega dos produtos ou a prestação dos serviços pelos estabelecimentos escolhidos pelo Participante
        é de exclusiva responsabilidade destes, não se responsabilizando a MERCEDES-BENZ por quaisquer atrasos ou falhas
        na entrega dos produtos ou na prestação dos serviços
        <br>
        <b>7.2</b> As ofertas disponibilizadas na Plataforma são de responsabilidade exclusiva dos parceiros/fornecedores, os
        quais farão a entrega do produto/serviço diretamente aos participantes.
        <br>
        <b>7.3</b> O frete poderá ser cobrado diretamente pelo parceiro, sem qualquer interferência do Programa. Qualquer oferta
        relativa ao frete é de responsabilidade do parceiro, que poderá, a seu exclusivo critério, oferecer frete grátis
        aos participantes.
        <br>
        <b>7.4</b> A MERCEDES-BENZ se isenta de responsabilidade por qualquer problema que eventualmente decorra da aquisição
        da oferta pelo participante, tais como cobranças indevidas, atrasos na entrega, avaria dos produtos, entregas incorretas
        ou embalagens violadas, as quais são de responsabilidade exclusiva dos parceiros/fornecedores. As reclamações e trocas
        deverão ser realizadas diretamente pelo participante ao parceiro/fornecedor.
        <br>
        <b>7.5</b> As ofertas são limitadas. O estoque e vigência das ofertas são de total e exclusiva responsabilidade do parceiro
        que anuncia o produto/serviço. As formas de pagamento são determinadas de acordo com a política do site do parceiro,
        sem interferência da MERCEDES-BENZ.
        <br>
        <b>7.6</b> Os preços das ofertas poderão sofrer alterações sem aviso prévio e deverão ser consultados pelo participante
        no momento da efetiva aquisição.
        <br>
        <b>7.7</b> Todo e qualquer problema ocorrido após a aquisição da oferta deverá ser resolvido diretamente com o parceiro,
        no site em que o produto/serviço tenha sido adquirido.

        <br>
        <br>
        <b>8. ISENÇÃO DE RESPONSABILIDADE</b>
        <br>
        <br>
        <b>8.1</b> Além das demais hipóteses de isenção de responsabilidade previstas neste documento, a MERCEDES-BENZ não se
        responsabilizará:

        <br>
        <br>a) Por quaisquer danos decorrentes da interrupção do acesso à Plataforma, ou por falhas de funcionamento;

        <br>
        <br>b) Pela defraudação da utilidade que os Participantes possam ter atribuído à Plataforma, pela falibilidade da mesma,
        ou por qualquer dificuldade de acesso;

        <br>
        <br>c) Pela existência de quaisquer elementos nocivos que possam produzir alterações nos sistemas informáticos dos Participantes
        ( software e/ou hardware) ou nos documentos eletrônicos armazenados no sistema informático;

        <br>
        <br>d) Por quaisquer hyperlinks disponibilizados na Plataforma, sendo certo que não há verificação prévia do conteúdo
        de qualquer hyperlink disponibilizado na Plataforma e que as páginas por meio deles acessadas estão sujeitas a outros
        Termos de Uso e Políticas de Privacidade;

        <br>
        <br>e) Pelos danos e prejuízos de toda natureza que possam decorrer do conhecimento que terceiros não autorizados possam
        ter de quaisquer das informações fornecidas pelo Participante, em decorrência de falha exclusivamente atribuível
        ao Participante; e

        <br>
        <br>f) Por falhas ou informações recebidas de modo incompleto pela MERCEDES-BENZ ou seus Parceiros, que dificultem ou
        impeçam a troca de pontos por produtos ou serviços.

        <br>
        <br>
        <b>8.2</b> A MERCEDES-BENZ poderá, a seu exclusivo critério e sem anuência ou concordância do Participante, alterar
        os serviços prestados, adicionando ou excluindo Parceiros, produtos e serviços, bem como a pontuação ou estrelas
        necessárias para a troca e/ou aquisição de determinados produtos, serviços ou benefícios, sem que qualquer valor
        ou indenização seja devido ao Participante, em razão de tais alterações.

        <br>
        <br>
        <b>9. PROPRIEDADE INTELECTUAL</b>
        <br>
        <br>
        <br>
        <b>9.1</b> Todos os direitos de propriedade intelectual referentes a qualquer material disponibilizado na Plataforma,
        tais como textos, marcas, logos, fotografias, gráficos, imagens, links, conteúdos audiovisuais ou sonoros, software,
        desenhos gráficos e códigos fontes, entre outros, são de titularidade do MERCEDES-BENZ ou de terceiros que autorizaram
        seu uso, sendo vedada sua cópia, reprodução, ou qualquer outro tipo de utilização, ficando os infratores sujeitos
        às sanções civis e criminais correspondentes, nos termos das Leis 9.610/98, 9.609/98 e 9.279/96.
        <br>
        <b>9.2</b> Todas as marcas, os nomes comerciais ou logotipos de qualquer espécie disponibilizados na Plataforma são
        de propriedade do MERCEDES-BENZ ou de terceiros que autorizaram seu uso, sem que o acesso ou utilização da Plataforma
        possa ser entendida como autorização para que o Participante possa citar tais marcas, nomes comerciais e logotipos.

        <br>
        <br>
        <b>10. DISPOSIÇÕES GERAIS</b>
        <br>
        <br>
        <br>
        <b>10.1 </b>Se qualquer parte deste Regulamento for considerada inválida ou inexequível, essa parte deve ser interpretada
        de forma consistente com a lei aplicável, para refletir, na medida do possível, a intenção original das partes, e
        as demais disposições permanecerão em pleno vigor e efeito.
        <br>
        <b>10.2 </b>A falha da MERCEDES-BENZ em exigir quaisquer direitos ou disposições dos presentes Termos não constituirá
        renúncia, podendo exercer regularmente o seu direito, dentro dos prazos legais.
        <br>
        <b>10.3 </b>A MERCEDES-BENZ poderá suspender ou interromper definitivamente o Programa, a qualquer tempo, ao seu exclusivo
        critério, mediante comunicação prévia aos participantes através da Plataforma do Programa, resguardados os direitos
        adquiridos até então, mas não sendo devido aos participantes qualquer tipo de indenização, pagamento ou compensação.
        Os pontos existentes poderão ser utilizados no prazo de até 30 (trinta) dias contados da comunicação de encerramento.
        <br>
        <b>10.4 </b>A participação no Programa não gerará aos participantes nenhum outro direito ou vantagem que não estejam
        expressamente previstos neste Regulamento.
        <br>
        <b>10.5 </b>A participação no Programa é gratuita, individual e intransferível, não havendo qualquer sanção aos elegíveis
        que optarem por não participar, tampouco para aqueles que não atingirem as metas e/ou resultados propostos.
        <br>
        <b>10.6 </b>As dúvidas e omissões não previstas neste Regulamento serão julgadas pela MERCEDES-BENZ no prazo de 30 (trinta)
        dias, exceto nos casos previstos neste Regulamento. As decisões da MERCEDES-BENZ são soberanas e irrecorríveis.
        <br>
        <b>10.7 </b>As condições previstas no presente Regulamento prevalecem e revogam quaisquer disposições contrárias eventualmente
        previstas em condições anteriores, sendo o único e integral entendimento relacionado às condições de participação
        no Programa.
        <br>
        <b>10.8 </b>O participante assume total e exclusiva responsabilidade a respeito de todas e quaisquer eventuais reivindicações
        de terceiros, que se sintam prejudicados pela sua participação no Programa e pela licença dos direitos de autor,
        estando esses direitos livres e desembaraçados de todos e quaisquer ônus ou restrições
        <br>
        <b>10.9 </b>Na hipótese de verificação de fraude, tentativa ou suspeita de fraude, a pontuação atribuída ao Participante
        será zerada, ainda que nem todos os dados, registros e informações tenham resultado do uso de tais meios e/ou sido
        realizados com tal finalidade. Uma vez confirmada a fraude, o Participante será automaticamente excluído do Programa,
        sem prejuízo das medidas legais cabíveis.
        <br>
        <b>10.10</b> Os participantes autorizam a veiculação de seu nome, imagem e som de voz, bem como concedem gratuitamente,
        os direitos patrimoniais e licenciam os direitos extrapatrimoniais de autor sobre a obra, pelo prazo de sua proteção,
        para utilização total ou parcial, em fotos, cartazes, filmes, spots em qualquer tipo de mídia (analógica ou digital)
        e peças promocionais para a divulgação da conquista do prêmio ou em quaisquer outros suportes e/ou meio de transmissão,
        retransmissão digital, enfim, qualquer meio de difusão audiovisual ou visual com ou sem provedor, sem que a MERCEDES-BENZ
        tenha que fazer quaisquer pagamentos para tanto.
        <br>
        <b>10.11</b> A MERCEDES-BENZ determinará o critério a aplicar em qualquer situação não prevista nas presentes regras,
        sendo a única autoridade interpretativa das mesmas, reservando-se o direito de efetuar qualquer modificação na realização
        deste Programa, podendo prorrogá-la ou suspendê-la a seu exclusivo critério.
        <br>
        <b>10.12</b> A participação neste Programa implica na aceitação e total concordância com as regras dispostas no presente
        Regulamento.
        <br>
        <b>10.13</b> Na hipótese de conflito entre o disposto nesse Regulamento e o disposto nos demais materiais de divulgação
        do Programa, prevalecerá o disposto nesse regulamento.
        <br>
        <b>10.14</b> A MERCEDES-BENZ não poderá ser responsabilizada por cadastros, informações e dados não recebidos, perdidos,
        atrasados, enviados erroneamente, incompletos, incorretos, inválidos ou imprecisos.
        <br>
        <b>10.15</b> Todas as imagens disponibilizadas no Plataforma e em todas as comunicações de divulgação do Programa são
        meramente ilustrativas. Os objetos poderão estar em tamanho inferior ou superior ao real e não representar a oferta
        em sua totalidade.

        <br>
        <br>
        <b>11. CONTATO</b>
        <br>
        <br>
        <b>11.1</b> O Participante poderá entrar em contato com a MERCEDES-BENZ por meio do formulário disponibilizado na página
        Fale Conosco, disponível para acesso em [www.mercedesclub.com.br], bem como por meio do telefone 0800 772 60 09,
        de 2ª a 6ª Feira, das 9h00 as 18h00, exceto em feriados nacionais e feriados da cidade de São Paulo ou através da
        Central de Relacionamento ao Cliente Mercedes-Benz por meio do telefone 0800 970 90 90.
        <br>
        <b>11.2</b> A MERCEDES-BENZ poderá entrar em contato com o Participante, e esta comunicação será considerada válida,
        por meio de qualquer informação de contato por ele disponibilizada quando do preenchimento de seu cadastro. Os comunicados
        emitidos por meio da Plataforma também serão considerados válidos.
        <br>
        <b>11.3</b> O Participante autoriza expressamente que a MERCEDES-BENZ e demais parceiros do Programa enviem comunicações
        relacionadas ao Programa, por e-mail ou celular SMS (Short Message Service),WhatsApp ou Push Notification (via APP)
        ou qualquer outro programa de mensagens pela internet.
        <br>
        <b>11.3.1</b> Os dados fornecidos pelos Participantes na adesão ao Programa serão mantidos em sigilo e integrarão o
        banco de dados da MERCEDES-BENZ podendo, no entanto, ser compartilhados com parceiros comerciais do Programa para
        que esses possam oferecer promoções, bens e serviços.
        <br>
        <b>11.3.2</b> A MERCEDES-BENZ através da empresa gestora do programa e dos parceiros poderão implementar mecanismos
        antifraude, inclusive realizar contato junto ao Participante para confirmação do pedido por meio de ligação, SMS,
        e-mail ou qualquer outro programa de mensagens pela internet
        <br>
        <b>11.4</b> Os Participantes poderão entrar em contato com os parceiros do Programa por meio dos endereços de e-mail
        ou telefone divulgados na Plataforma. Os Parceiros poderão entrar em contato com os participantes para conclusão
        e acompanhamento de resgates ou outros serviços disponíveis na Plataforma.
        <br>
        <b>11.5</b> O participante autoriza o envio dos dados cadastrados na Plataforma, tanto para utilização da MERCEDES-BENZ,
        quanto para utilização dos parceiros da MERCEDES-BENZ ou do Programa, assim como autoriza o envio de e-mail marketing
        sobre promoções do Clube de Benefícios e novas parcerias que venham a ser agregadas. Os dados também poderão ser
        utilizados para aprimoramento da plataforma/site e/ou demais programas da MERCEDES-BENZ que estejam em vigor ou que
        venham a vigorar.

        <br>
        <br>
        <b>12. LEI APLICÁVEL E FORO</b>
        <br>
        <br>
        <b>12.1</b> Estes Termos serão regidos, interpretados e executados de acordo com as leis da República Federativa do
        Brasil, independentemente dos conflitos dessas leis com leis de outros estados ou países, sendo competente o Foro
        da Comarca do Participante, para dirimir qualquer dúvida decorrente deste instrumento. Última atualização: 23.03.2018
    </p>




</ion-content>
<ion-footer>
    <div class="btn-close">
        <button ion-button (click)="closeRegulationTerms()" color="secondary">Fechar</button>
    </div>
</ion-footer>