.textHeader{
    text-align: center;
    padding: 8px;
}

.privacyText{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-close{
    text-align: center;
    padding: 8px;
}