<ion-content class="content-profile">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="profile-title">
          <span class="font-guets">guets</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="profile-subtitle">
          <span>
            Como deseja se Cadastrar ?</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 no-padding>
        <div class="container-register" (click)="newProfile()">
          <ion-icon name="person"></ion-icon>
          <p>Usuário</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 no-padding>
        <div class="container-register" (click)="newProfile()">
          <ion-icon name="cart"></ion-icon>
          <p>Loja</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
