<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Sorteio</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-post-lottery">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-lottery">Descrição</span>
        </ion-col>
        <ion-col col-12>
          <ion-textarea name="post-lottery" placeholder="Descrição da Sorteio..."></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-lottery">Regulamento</span>
        </ion-col>
        <ion-col col-12>
          <ion-textarea name="post-lottery" placeholder="Regulamento do sorteio..."></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-lottery">Selecione uma imagem</span>
        </ion-col>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            Carregar imagem
            <input type="file" id="file-input">
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-lottery">Data do sorteio</span>
        </ion-col>
        <ion-col col-12>
          <ion-input name="date" placeholder="dd/mm/aaaa"></ion-input>
        </ion-col>
        <ion-col col-12>
          <span class="label-post-lottery">Horário do sorteio</span>
        </ion-col>
        <ion-col col-12>
          <ion-input name="hour" placeholder="hh:mm"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Post automatico</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-lottery">Apagar publicação automaticamente</span>
        </ion-col>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Após 7 dias </ion-label>
              <ion-radio value="setedias" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 15 dias</ion-label>
              <ion-radio value="quinzedias"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 21 dias</ion-label>
              <ion-radio value="vinteumdias"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 30 dias</ion-label>
              <ion-radio value="trintadias"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block color="success" type="button">
            Publicar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
