page-invitation {
  body {
    background-color: #F0ECDC;
  }


  ion-content {
    background-color: #F0ECDC;
  }



  .scroll-notification-trade {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }




  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }


  .content-invitation {
    ion-grid {
      padding: 0px;
    }

    .background-header {
      background: #FF005E;

      .img-profile {
        margin: auto;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;

        img {
          text-align: center;
          height: 122px;
          width: 122px;
          border-radius: 50%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .img-profile.new-post {
        padding: 0px;
        border: 5px solid white;
      }

      .title-header {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: white;
      }


    }

    .background-body {
      color: #33365F;
      font-size: 18px;
      text-align: center;
      padding: 0px 15px 0px 15px;


      .font-guets {
        color: #FF005E;
        font-size: 45px;
      }

      .button {
        font-size: 48px;
      }

    }
  }
}
