<ion-content>
  <div class="content-invitation">
    <ion-grid>
      <ion-row class="background-header">
        <ion-col col-12 class="title-header">
          Olá! Meu nome é
        </ion-col>
        <ion-col col-12 text-center>
          <div class="img-profile new-post">
            <img src="https://bit.ly/2F3mzRj" />
          </div>
        </ion-col>
        <ion-col col-12>
          <div class="title-header">
            <span>Aline Almeida </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="background-body">
        <ion-col col-12>
          <b> Gostaria de convidar a sua loja para criar uma conta no GUETS! Uma maneira bem bacana para você se
            comunicar com os seus clientes!</b>
        </ion-col>
        <ion-col col-12>
          <b> Baixe o App e conheça mais!</b>
        </ion-col>
        <ion-col col-12 class="">
          <span class="font-guets">guets</span>
        </ion-col>
        <ion-col col-12>
          Quando criar a sua conta, insira o meu <b>código de indicação</b> abaixo para que eu possa começar a acumular
          os meus GUETS em sua loja, ok?
        </ion-col>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            FGU1903
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
