<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>
        Lista de desejos
      </ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>

  <div class="content-wishlist">
    <ion-grid>
      <ion-row class="background-banner">
        <ion-col col-12>
          <div class="img-profile">
            <img src="https://bit.ly/2NyaXWo" /> <span>Fit Food</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="reviews-detail">
            <div class="reviews-post exclusive">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                  </ion-col>
                  <ion-col col-8 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2F3mzRj" />
                    </div>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Aline Almeida </span>
                      <p><small>publicou em 21/05/18</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-reviews">
                      <span>
                        Quero fazer o meu dia de noiva completo! Com maquiagem, cabelo e massagem! Algum salão tem uma
                        proposta bacana para mim!?
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="footer-content">
                  <ion-col col-12 text-center>
                    <button id="login-button" ion-button icon-start outline block color="success">
                      Enviar proposta
                    </button>
                  </ion-col>
                  <!-- <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col> -->
                </ion-row>
              </ion-grid>
            </div>
          </div>
          <div class="reviews-detail">
            <div class="reviews-post exclusive">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                  </ion-col>
                  <ion-col col-8 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2F3mzRj" />
                    </div>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Aline Almeida </span>
                      <p><small>publicou em 21/05/18</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-reviews">
                      <span>
                        Procuro um salão para um penteado para a minha festa de formatura! Irei com mais 3 amigas!
                        Alguma proposta interessante?
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="footer-content">
                  <ion-col col-12 text-center>
                    <button id="login-button" ion-button icon-start outline block color="success">
                      Enviar proposta
                    </button>
                  </ion-col>
                  <!-- <ion-col col-2 text-center>
                      <ion-icon name="heart" class="like"></ion-icon>
                    </ion-col> -->
                </ion-row>
              </ion-grid>
            </div>
          </div>
          <div class="reviews-detail">
            <div class="reviews-post exclusive">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                  </ion-col>
                  <ion-col col-8 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2F3mzRj" />
                    </div>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Aline Almeida </span>
                      <p><small>publicou em 21/05/18</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-reviews">
                      <span>
                        Quero pintar o meu cabelo e fazer um corte bem bacana! Procuro um salão especialista em cabelos
                        loiros! Alguma proposta para mim?
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="footer-content">
                  <ion-col col-12 text-center>
                    <button id="login-button" ion-button icon-start outline block color="success">
                      Enviar proposta
                    </button>
                  </ion-col>
                  <!-- <ion-col col-2 text-center>
                        <ion-icon name="heart" class="like"></ion-icon>
                      </ion-col> -->
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
