<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>MKT</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-marketing">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="marketing-title">
            <span>Marketing</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="marketing-subtitle">
            <span>
              Para onde você quer ir ?</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 no-padding>
          <div class="container-register" (click)="tips()">
            <ion-icon name="bulb"></ion-icon>
            <p>Dicas</p>
          </div>
        </ion-col>
        <ion-col col-6 no-padding>
          <div class="container-register" (click)="post()">
            <ion-icon name="images"></ion-icon>
            <p>Publicação</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 no-padding>
          <div class="container-register" (click)="promotion()">
            <ion-icon name="cash"></ion-icon>
            <p>Promoção</p>
          </div>
        </ion-col>
        <ion-col col-6 no-padding>
          <div class="container-register" (click)="lottery()">
            <ion-icon name="happy"></ion-icon>
            <p>Sorteio</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 no-padding>
          <div class="container-register" (click)="exclusive()">
            <ion-icon name="heart"></ion-icon>
            <p>Exclusiva</p>
          </div>
        </ion-col>
        <ion-col col-6 no-padding>
          <div class="container-register" (click)="gift()">
            <ion-icon name="trophy"></ion-icon>
            <p>Presente</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
