<ion-content>
  <div class="content-post-gift">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="post-gift-title">
            <span class="font-guets">GUETS</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="post-gift-subtitle">
            <span>
              Envie um presente para os seus TOP GUETS!</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button ion-button block (click)="postGiftSend()" color="light" type="button">
            Data comemorativa
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block (click)="postGiftSend()" color="light" type="button">
            Aniversário
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
