page-post-gift {

  ion-content {
    background-color: #5A60B1 !important;
  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }

  .scroll-content {
    background-color: #5A60B1 !important;
  }



  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-post-gift {
    margin-top: 55px;
    background: #5A60B1;

    .post-gift-title {
      text-align: center;
      padding: 5% 0px 5% 0;
      width: 100%;

      span {
        font-weight: bold;
        color: white;
        font-size: 5rem;
        font-family: "adobe-clean", sans-serif;
        vertical-align: baseline;
        resize: none;
      }
    }

    .post-gift-subtitle {
      text-align: center;
      padding: 0 0 8% 0;
      width: 100%;

      span {
        font-weight: bold;
        color: white;
        font-family: "adobe-clean", sans-serif;
        vertical-align: baseline;
        resize: none;
      }
    }


    .container-register {
      margin: auto;
      background: white;
      width: 125px;
      height: 125px;
      margin-bottom: 8%;
      padding: 10px;
      color: #33365f;
      border-radius: 10px;
      box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.29)
    }

    .button {
      color: #33365F;
    }

    .container-register {
      text-align: center;
      border: 4px solid #FF005E;

      ion-icon {
        font-weight: bold;
        font-size: 7.5rem;
      }

      p {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
      }
    }

    .container-register:active {
      background: #bfbfbf;
      box-shadow: none;
    }

  }


}
