page-profile-details {
  body {
    background-color: #F0ECDC;
  }

  .back-button-md {
    margin: 0;
    min-width: 0;
  }

  .bar-button-md {
    padding: 0;
  }


  ion-grid {
    padding: 0px !important;
  }

  ion-col {
    padding: 0px !important;
  }

  ion-content {
    background-color: #F0ECDC;
  }




  .scroll-profile-details {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }


  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-profile-details {
    .background-banner {
      width: 100%;
      height: 200px;
      background: url(https://bit.ly/2SgCpL8);
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
    }

    .img-profile {
      margin: 0px 0px 10px 10px;
      bottom: 0;
      position: absolute;

      img {
        padding: 2px;
        border: 3px solid white;
        border-radius: 100%;
        height: 80px;
        width: 80px;
        box-shadow: 0 0 5px gray;
        border-radius: 100%;
      }

      span {
        color: white;
        font-size: 18px;
        margin-left: 10px;
        padding-bottom: 10px;
        top: -15px;
        position: relative;
      }

    }

    .like-profile {
      bottom: 0;
      border: 2px solid;
      border-right: 0px;
      text-align: center;
      position: absolute;
      background-color: #ff005e;
      width: 100%;
      border-radius: 8px 0px 0px 8px;
      margin-bottom: 15px;
      color: white;
      font-size: 25px;
      box-shadow: 0 0 5px gray;
      padding: 6px 0px 4px 0px;
    }

    .like-profile:active {
      opacity: 0.5;
    }

    .profile-details {
      color: #33365F;
      font-weight: bold;

      ion-col {
        padding: 2px !important;
      }
    }


    .content-profile-details {
      border: 1px solid #33365F;
      border-radius: 5px;
      background: white;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      p {
        margin: 2px;
      }

      .title {
        font-size: 16x;
      }

      .value {
        font-size: 16px;
      }
    }
  }

  .card-profile-detail {

    .feed-post {
      background: white;
      margin-bottom: 30px;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      ion-grid {
        padding: 0;
      }

      ion-col {
        padding: 0;
      }

      h2 {
        width: 100%;
        box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
        text-align: center;
        padding: 5px;
        margin: 10px 0 10px 0;
      }

      .tag {
        width: 100%;
        margin-top: 25px;
        padding: 5px 0 5px 0;
        box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
        font-size: 16px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .name-profile {
        margin: 15px 0 15px 0;
        text-align: center;
        color: #151c4a;

        span {
          color: #FF005E;
        }

        p {
          margin: 0
        }
      }

      .description-feed {
        text-align: center;
        padding: 0 20px 0 20px;
        font-size: 14px;

        span {
          color: #151c4a;
        }
      }

      .img-post-feed {
        object-fit: contain;
        margin-top: 15px;
        width: 100%;
        height: 180px;
        background-color: rgba(0, 0, 0, 0.048);
      }


      .img-profile {
        margin: auto;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;

        img {
          text-align: center;
          height: 70px;
          width: 70px;
          border: 2px solid #fff;
          border-radius: 50%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }


      .img-guets {
        margin: auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        padding: 2px;
        border: 3px solid rgb(221, 221, 221);

        img {
          text-align: center;
          height: 50px;
          width: 50px;
          border: 2px solid #fff;
          border-radius: 50%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .comment-input {
        padding: 7px;
        margin: 10px;
        border: 1px solid #151c4a;
        border-radius: 12px;
      }

      ion-icon.like {
        font-size: 35px;
        margin-top: 9px;
        color: #FF005E
      }

      ion-icon.share {
        font-size: 35px;
        margin-top: 9px;
        color: #151c4a
      }

    }

    .feed-post.promotion {
      h2 {
        color: white;
        background-color: #46BFBF;
      }

      .tag {
        color: white;
        text-align: center;
        background-color: #46BFBF;
      }
    }

    .img-profile.new-post {
      padding: 2px;
      border: 3px solid #FF005E;
    }

    .img-profile.old-post {
      padding: 2px;
      border: 3px solid rgb(167, 167, 167);
    }


    .feed-post.exclusive {
      h2 {
        color: white;
        background-color: #FF005E;
      }

      .tag {
        color: white;
        text-align: center;
        background-color: #FF005E;
      }
    }

    .feed-post.gift {
      h2 {
        color: white;
        background-color: #5A60B1;
      }

      .tag {
        color: white;
        text-align: center;
        background-color: #5A60B1;
      }
    }

    .feed-post.lottery {
      h2 {
        color: white;
        background-color: #27AE60;
      }

      .tag {
        color: white;
        text-align: center;
        background-color: #27AE60;
      }
    }

    .feed-post.publish {
      h2 {
        color: white;
        background-color: #33365F;
      }

      .tag {
        color: white;
        text-align: center;
        background-color: #33365F;
      }
    }

  }

  ion-navbar {
    ion-icon {
      color: white
    }
  }
}
