<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-buttons text-center>
        <button ion-button icon-only (click)="notification()">
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)="ProfileInfo()">
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-profile-details">
    <ion-grid>
      <ion-row class="background-banner">
        <ion-col col-9>
          <div class="img-profile">
            <img src="https://bit.ly/2NyaXWo" /> <span>Fit Food</span>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="like-profile">
            <ion-icon name="heart" class="like"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="profile-details">
        <ion-col col-3>
          <div class="content-profile-details" text-center (click)="review()">
            <p class="title">Avaliação</p>
            <p class="value">4.8</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="content-profile-details" text-center>
            <p class="title">Seguidores</p>
            <p class="value">12.450</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="content-profile-details" text-center>
            <p class="title">Guets</p>
            <p class="value">267</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="content-profile-details" text-center (click)="wishlist()">
            <p class="title">
              <ion-icon name="medal"></ion-icon>
            </p>
            <p class="value">Verificado</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="profile-marketing">
        <ion-col text-center col-12>
          <button ion-button icon-start color="danger" class="btn-login" type="button" (click)="marketing()">
            <ion-icon name="bulb"></ion-icon>
            Marketing
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="card-profile-detail">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="content-feed">
            <div class="feed-post promotion">
              <ion-grid>
                <ion-row>
                  <h2>Promoção!</h2>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <div class="tag">-50%</div>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou uma promoção!
                      <p><small>há 1 hora atrás</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-feed">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-feed" src="https://bit.ly/2C9IOTp" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="send" class="share"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="feed-post exclusive">
              <ion-grid>
                <ion-row>
                  <h2>Exclusiva!</h2>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <div class="tag">Aceitar</div>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou uma exclusiva prara você!
                      <p><small>há 1 hora atrás</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-feed">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-feed" src="https://bit.ly/2pLOcVg" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="send" class="share"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="feed-post gift">
              <ion-grid>
                <ion-row>
                  <h2>Presente!</h2>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <div class="tag">Aceitar</div>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou um presente para você!
                      <p><small>há 1 hora atrás</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-feed">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-feed" src="https://bit.ly/2CEl5Mc" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="send" class="share"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="feed-post lottery">
              <ion-grid>
                <ion-row>
                  <h2>Sorteio!</h2>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <div class="tag">Participar</div>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou um sorteio!
                      <p><small>há 1 hora atrás</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-feed">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-feed" src="https://bit.ly/2OZPqLb" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="send" class="share"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div class="feed-post publish">
              <ion-grid>
                <ion-row>
                  <h2>Publicação</h2>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou
                      <p><small>há 1 hora atrás</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-feed">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-feed" src="https://bit.ly/2yw7lyy" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="send" class="share"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
