<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Promoção</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-post-promotion">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-promotion">Descrição</span>
        </ion-col>
        <ion-col col-12>
          <ion-textarea name="post-promotion" placeholder="Descrição da promoção..."></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-promotion">Preço da promoção</span>
        </ion-col>
        <ion-col col-12>
          <ion-input name="value" placeholder="R$"></ion-input>
        </ion-col>
        <ion-col col-12>
          <span class="label-post-promotion">Desconto</span>
        </ion-col>
        <ion-col col-12>
          <ion-input name="descount" placeholder="%"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-promotion">Selecione uma imagem</span>
        </ion-col>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            Carregar imagem
            <input type="file" id="file-input">
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="label-post-promotion">Apagar publicação automaticamente</span>
        </ion-col>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-item>
              <ion-label>Após 7 dias </ion-label>
              <ion-radio value="setedias" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 15 dias</ion-label>
              <ion-radio value="quinzedias"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 21 dias</ion-label>
              <ion-radio value="vinteumdias"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Após 30 dias</ion-label>
              <ion-radio value="trintadias"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block color="primary" type="button">
            Publicar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
