<ion-content>
  <div class="content-confirm-exclusive">
    <ion-grid>
      <ion-row class="description-profile">
        <ion-col col-12 text-center>
          <span>Parabéns!</span>
        </ion-col>
        <ion-col col-12 text-center>
          <span>Você aceitou o presente!</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="img-user new-post">
          <img src="assets/img/avatar/girl-avatar.png" />
        </div>
      </ion-row>
      <ion-row class="description-profile">
        <ion-col col-12 text-center>
          <span>Felipe Correia</span>
        </ion-col>
        <ion-col col-12 text-center>
          <span>Basta apresentar este cupom para aproveitar o seu presente!</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            TH690%$ji@
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="img-profile new-post">
            <img src="https://bit.ly/2pQEzEN" />
          </div>
        </ion-col>
        <ion-col col-12 class="name-profile" text-center>
          <span>Simply FOOD</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
