page-confirm-exclusive {

  body {
    background-color: #F0ECDC;
  }

  .back-button-md {
    margin: 0;
    min-width: 0;
  }

  .bar-button-md {
    padding: 0;
  }


  ion-content {
    background-color: #F0ECDC;
  }


  .scroll-confirm-exclusive {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }



  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-confirm-exclusive {

    ion-grid {
      padding: 10px;
    }


    .img-profile {
      margin: auto;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      box-shadow: 0 0 5px gray;

      img {
        text-align: center;
        height: 70px;
        width: 70px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .img-user {
      margin: auto;
      height: 110px;
      width: 110px;
      border-radius: 50%;
      box-shadow: 0 0 5px gray;

      img {
        text-align: center;
        height: 100px;
        width: 100px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .button {
      font-size: 35px;
    }

    .new-post {
      padding: 2px;
      border: 3px solid #FF005E;
    }


    .name-profile {
      padding: 5px;

      span {
        color: #FF005E;
        font-weight: bold;
        text-align: center;
        font-size: 22px;
      }

    }

    .description-profile {
      padding: 5px;

      span {
        color: #33365F;
        font-weight: bold;
        text-align: center;
        font-size: 22px;
      }
    }

    .well-content {
      color: white;
      background: #FF005E;
      padding: 10px;
      text-align: center;

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      p {
        font-size: 12px;
      }
    }
  }


  ion-navbar {
    ion-icon {
      color: white
    }
  }
}
