page-profile-info {
  body {
    background-color: #F0ECDC;
  }

  ion-grid {
    padding: 0px !important;
  }

  ion-col {
    padding: 0px !important;
  }

  ion-content {
    background-color: #F0ECDC;
  }


  .scroll-profile-info {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }



  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-profile-info {
    margin-top: 55px;

    .background-banner {
      width: 100%;
      height: 200px;
      background: url(https://bit.ly/2SgCpL8);
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
    }

    .img-profile {
      margin: 0px 0px 10px 10px;
      bottom: 0;
      position: absolute;

      img {
        padding: 2px;
        border: 3px solid white;
        border-radius: 100%;
        height: 80px;
        width: 80px;
        box-shadow: 0 0 5px gray;
        border-radius: 100%;
      }

      span {
        color: white;
        font-size: 18px;
        margin-left: 10px;
        padding-bottom: 10px;
        top: -15px;
        position: relative;
      }

    }

    .content-profile-details {
      border: 1px solid #33365F;
      border-radius: 5px;
      background: white;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      p {
        margin: 2px;
      }

      .title {
        font-size: 16x;
      }

      .value {
        font-size: 16px;
      }
    }
  }

  .card-profile-detail {
    padding: 10px;

    .card-guets {
      padding: 10px;
      background: white;
      margin-bottom: 10px;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      p {
        margin: 5px 0px 10px 0px;
      }

      .title {
        color: #33365F;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }

      .description {
        color: #707070;
        text-align: justify;
      }

      .address {
        color: #33365F;
        font-size: 14px;
        font-weight: bold;

      }


      .phone {
        color: #33365F;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
      }

      ion-item {
        padding: 0;
      }
    }
  }

  #map {
    width: 100%;
    height: 200px;
  }



  .button-ios.btn-guets-primary {
    background-color: #33365f !important;

  }

  .button-ios.btn-guets-primary.activated {
    background-color: #4b5090;
    opacity: 1;
  }
}
