<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-profile-info">
    <ion-grid>
      <ion-row class="background-banner">
        <ion-col col-12>
          <div class="img-profile">
            <img src="https://bit.ly/2NyaXWo" /> <span>Fit Food</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="card-profile-detail">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="card-guets">
            <p class="title">Sobre</p>
            <p class="description">Suspendisse quis eros id tellus elementum congue. Donec auctor nulla at nunc
              laoreet fringilla. Sed eros neque, rhoncus in tempor id, vestibulum sit amet nibh. Ut id maximus sem.
              Etiam et ipsum nibh.</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="card-guets">
            <p class="title">Endereço</p>
            <p class="address">
              Av. Lemos de Abreu, 258 Bairro: Vila Esperança Cidade: Jundiaí
            </p>
            <div #map id="map"></div>
            <p><button block ion-button icon-start class="btn-guets-primary" type="button">
                <ion-icon name="navigate"></ion-icon>
                como chegar
              </button></p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="card-guets">
            <ion-row>
              <ion-col col-8 text-center>
                <span class="phone" style="line-height: 45px;">
                  11 12345678
                </span>
              </ion-col>
              <ion-col col-4>
                <span>
                  <button block ion-button icon-start class="btn-guets-primary" type="button">
                    <ion-icon name="call"></ion-icon>
                    ligar
                  </button>
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="card-guets">
            <ion-row>
              <ion-col col-8 text-center>
                <span class="phone" style="line-height: 45px;">
                  11 91234 5678
                </span>
              </ion-col>
              <ion-col col-4>
                <span>
                  <button block ion-button icon-start class="btn-guets-primary" type="button">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                    adicionar
                  </button>
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="card-guets">
            <p class="title">Envie uma mensagem </p>
            <p>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </p>
            <p>
              <button block ion-button icon-start color="danger" type="button">
                <ion-icon name="save"></ion-icon>
                enviar
              </button>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
