page-tips {

  body {
    background-color: #F0ECDC;
  }

  .back-button-md {
    margin: 0;
    min-width: 0;
  }

  .bar-button-md {
    padding: 0;
  }


  ion-grid {
    padding: 0px !important;
  }

  ion-col {
    padding: 0px !important;
  }

  ion-content {
    background-color: #F0ECDC;
  }


  .scroll-tips {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }





  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }


  .body-tips {
    margin-top: 55px !important;

    .content-tips {

      p {
        margin: 2px;
      }

      .title {
        font-size: 16x;
      }

      .value {
        font-size: 16px;
      }

      .background-banner {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
      }

      .img-profile {
        margin: 0px 0px 10px 10px;
        bottom: 0;
        position: absolute;

        img {
          padding: 2px;
          border: 3px solid white;
          border-radius: 100%;
          height: 80px;
          width: 80px;
          box-shadow: 0 0 5px gray;
          border-radius: 100%;
        }

        span {
          color: white;
          font-size: 18px;
          margin-left: 10px;
          padding-bottom: 10px;
          top: -15px;
          position: relative;
        }

      }

      .like-profile {
        bottom: 0;
        border: 2px solid;
        border-right: 0px;
        text-align: center;
        position: absolute;
        background-color: #ff005e;
        width: 100%;
        border-radius: 8px 0px 0px 8px;
        margin-bottom: 15px;
        color: white;
        font-size: 25px;
        box-shadow: 0 0 5px gray;
        padding: 6px 0px 4px 0px;
      }

      .like-profile:active {
        opacity: 0.5;
      }

      .tips {
        color: #33365F;
        font-weight: bold;

        ion-col {
          padding: 2px !important;
        }
      }

    }

    .card-profile-detail {

      .tips-post {
        background: white;
        margin-bottom: 30px;
        box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

        ion-grid {
          padding: 0;
        }

        ion-col {
          padding: 0;
        }

        .name-profile {
          margin: 15px 0 15px 0;
          text-align: left;
          color: #151c4a;
          font-size: 14px;

          span {
            font-size: 20px;
            color: #151c4a;
            font-weight: bold;
          }

          p {
            margin: 0
          }
        }


        .img-post-tips {
          object-fit: contain;
          margin-top: 15px;
          width: 100%;
          height: 180px;
          background-color: rgba(0, 0, 0, 0.048);
        }


        .img-profile {
          margin: auto;
          margin-top: 10px;
          height: 80px;
          width: 80px;
          border-radius: 50%;
          box-shadow: 0 0 5px gray;

          img {
            text-align: center;
            height: 70px;
            width: 70px;
            border: 2px solid #fff;
            border-radius: 50%;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
          }
        }



        .comment-input {
          padding: 7px;
          margin: 10px;
          border: 1px solid #151c4a;
          border-radius: 12px;
        }

        ion-icon.like {
          font-size: 35px;
          margin-top: 9px;
          color: #FF005E
        }

        ion-icon.share {
          font-size: 35px;
          margin-top: 9px;
          color: #151c4a
        }

      }

      .img-profile.new-post {
        padding: 2px;
        border: 3px solid #FF005E;
      }


      .tips-post.exclusive {
        h2 {
          color: white;
          background-color: #FF005E;
        }

        .tag {
          color: white;
          text-align: center;
          background-color: #FF005E;
        }
      }


    }
  }

  ion-navbar {
    ion-icon {
      color: white
    }
  }
}
