<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Dicas</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="body-tips">
    <div class="content-tips">
      <ion-grid>
        <ion-row class="background-banner">
          <img src="assets/imgs/marketing.jpg">
        </ion-row>
        <ion-row>
          <ion-col text-center col-12>
            <button ion-button icon-start color="danger" class="btn-login" type="button">
              Fale com a gente!
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card-profile-detail">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="tips-post">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 text-center>
                    <div class="img-profile new-post">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                  <ion-col col-9>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou! <small>há 2 horas</small>
                      <p>
                        O dia das mães se aproxima! Que tal enviar um presente para todas as mães ou lançar um belo
                        sorteio?
                      </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-tips" src="https://bit.ly/2C9IOTp" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="tips-post">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 text-center>
                    <div class="img-profile new-post">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                  <ion-col col-9>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou! <small>há 2 horas</small>
                      <p>
                        Seus clientes adoram descontos! Publique uma promoção e atraia muito mais seguidores no
                        GUETS!
                      </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-tips" src="https://bit.ly/2C9IOTp" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="tips-post">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 text-center>
                    <div class="img-profile new-post">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                  <ion-col col-9>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou! <small>há 2 horas</small>
                      <p>
                        Tem um monte de gente que faz aniversário hoje! Mande um presente e agrade seus clientes!
                      </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-tips" src="https://bit.ly/2C9IOTp" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="tips-post">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 text-center>
                    <div class="img-profile new-post">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                  <ion-col col-9>
                    <div class="name-profile">
                      <span>Fit Food</span> publicou! <small>há 2 horas</small>
                      <p>
                        Seus clientes adoram um sorteio! Que tal bolar um prêmio bem bacana e surpreender seus
                        clientes!
                      </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <img class="img-post-tips" src="https://bit.ly/2C9IOTp" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
