page-home-menu {


  .invalid-input {
    color: red;
    font-size: 11px;
    padding: 0px !important;
    padding-left: 20px !important;
  }

  .scroll-content {
    background-color: #33365F;
  }

  .eventName {
    width: 50%;
  }


  .home-menu-title {
    text-align: center;
    padding: 5% 0px 5% 0;
    width: 100%;

    span {
      font-weight: bold;
      color: white;
      font-size: 5rem;
      font-family: "adobe-clean", sans-serif;
      vertical-align: baseline;
      resize: none;
    }
  }

  .home-menu-subtitle {
    text-align: center;
    padding: 0 0 10% 0;
    width: 100%;

    span {
      font-weight: bold;
      color: white;
      font-family: "adobe-clean", sans-serif;
      vertical-align: baseline;
      resize: none;
    }
  }


  .eventNameBtn {
    padding: 10px;
  }

  #title {
    background-color: white;
    text-align: center;
  }

  .who-text {
    font-weight: bold;
    text-align: center;
    margin-bottom: 8%;
    font-size: 18px;
  }

  .club-text {
    font-family: corporate;
    font-size: 40px;
    color: #00adef;
    margin-top: 18%;
    text-align: center;
    margin-bottom: 6%;
  }

  .info-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    background-color: #00adef;
    float: right;
    margin: 3%;
  }

  .modal-footer {
    margin: 5%;
    padding-bottom: 3%;
  }

  .home-menu-modal {
    width: 95%;
    min-height: 15%;
    background: #eeeeee;
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
  }

  .home-menu-modal p {
    font-size: 1.8em;
    position: relative;
    display: inline-flex;
    left: 45%;
    transform: translateX(-105%);
    text-align: center;
    margin-top: 0.7em;
    font-family: corporate;
  }

  .home-menu-modal p span {
    color: #00adef;
    text-align: center;
    position: absolute;
  }


  .container-register {
    margin: auto;
    background: white;
    width: 125px;
    height: 125px;
    margin-bottom: 8%;
    padding: 10px;
    color: #33365f;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.29)
  }


  .container-register {
    text-align: center;
    border: 4px solid #FF005E;

    ion-icon {
      font-weight: bold;
      font-size: 7.5rem;
    }

    p {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0;
    }
  }

  .container-register:active {
    background: #bfbfbf;
    box-shadow: none;
  }

  .image-header {
    width: 43%;
  }

  .img-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
  }

  .toolbar-md {
    padding: 0px;
    min-height: 56px;
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0%;
    top: 0%;
  }

  .toolbar-ios {
    padding: 0px;
    min-height: 56px;
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0%;
    top: 0%;
  }

  button#choose-button {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 95%;
    padding: 0px;
    border-radius: 4px;
    margin-top: 6%;
    margin-bottom: 3%;
  }

  @media screen and (min-width: 768px) {

    .toolbar-title {
      font-size: 2.3em;
    }

    .home-menu-modal {
      width: 61%;
    }

    .home-menu-modal p {
      font-size: 2.4em;
      margin-top: 0.5em;
      left: 36%;
    }

    .button-ios {
      border-radius: 4px;
      height: 2.8em;
      font-size: 2.6rem;
    }

    .button-md {
      border-radius: 4px;
      height: 2.8em;
      font-size: 2.6rem;
    }

    .toolbar-title-md {
      padding: 0 12px;
      font-size: 3rem;
    }

    .club-text {
      font-size: 5em;
    }

    .who-text {
      font-size: 28px;
    }
  }

  @media screen and (min-width: 320px) and (max-height: 640px) {
    ion-footer {
      left: 0;
      bottom: 0;
      z-index: 10;
      display: block;
      width: 100%;
    }

    .home-menu-modal p {
      font-size: 1.7em;
      margin-top: 0.7em;
      left: 50%;
    }
  }
}
