<ion-content class="content-home-menu">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="home-menu-title">
          <span class="font-guets">guets</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="home-menu-subtitle">
          <span>
            Para onde você quer ir ?</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 no-padding>
        <div class="container-register" (click)="loginMaster()">
          <ion-icon name="image"></ion-icon>
          <p>Página Inicial</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 no-padding>
        <div class="container-register" (click)="NewHomeMenu()">
          <ion-icon name="qr-scanner"></ion-icon>
          <p>Gerar códigos</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 no-padding>
        <div class="container-register" (click)="NewHomeMenu()">
          <ion-icon name="trending-up"></ion-icon>
          <p>Relatórios</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
