<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Ajuda e Suporte</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row class="alert">
      <ion-col col-12>
        Estamos em constante evolução! E contamos com as suas sugestões para melhorarmos cada vez e tornar o Guets uma
        poderosa ferramenta de divulgação do seu negócio!
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-textarea name="suggestion" placeholder="Deixe sua sugestão..."></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button id="login-button" ion-button icon-start outline block color="danger">
          Enviar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
