page-suggestion {
  body {
    background-color: #F0ECDC;
  }

  ion-content {
    background-color: #F0ECDC;
  }



  .scroll-suggestion {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }




  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  ion-content {
    margin-top: 55px;

    .grid {
      padding: 0;
    }

    ion-textarea {
      border: 1px solid silver;
      border-radius: 5px;
    }

    ion-row {
      margin-bottom: 10px;
    }

    .alert {
      padding: 10px 5px 10px 5px;
      color: white;
      background: #33365F;
    }
  }
}
