page-feed {
  body {
    background-color: #F0ECDC;
  }

  ion-toolbar.toolbar {
    padding: 0;
  }

  ion-content {
    background-color: #F0ECDC;
  }

  .toolbar-background {
    background-color: #F0ECDC;
  }

  .content-feed {
    margin-top: 107px;
    background-color: #F0ECDC;
  }

  .scroll-feed {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }

  .header-feed {
    width: 100%;
    background-color: #FF005E;

    .input-sarch {
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      width: 100%;
      height: 100%;

      ion-icon {
        color: #151c4a;
        font-size: 40px;
      }
    }

    span {
      font-weight: bold;
      font-family: "adobe-clean", sans-serif;
      color: white;
      font-size: 32px;
    }
  }
}

.sub-header-feed {
  background-color: white;
  padding: 5px;
  margin-top: 2px;
  border-bottom: 1px solid #dadada;

  ion-grid {
    padding: 0 10px 0 0;
  }

  ion-icon {
    color: #151c4a;
    font-size: 32px;
  }

  ion-col {
    padding: 0;
  }

  .count {
    font-weight: bold;
    padding: 1px 5px 1px 5px;
    color: #FF005E;
    font-size: 15px;
    left: 35px;
    top: -20px;
    position: relative;
  }
}


.feed-preferred {

  .scroll-preferred {
    width: 100%;
    height: 70px;

    .scroll-zoom-wrapper {
      display: flex;
    }

    .scroll-bar-indicator {
      display: none;
    }
  }

  span {
    font-weight: bold;
    color: #151c4a;
    width: 100%;
    text-align: center;
  }

  .radius {
    margin: 6px;
    height: 58px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
  }

  .radius.new-post {
    padding: 2px;
    border: 3px solid #FF005E;
  }

  .radius.old-post {
    padding: 2px;
    border: 3px solid rgb(167, 167, 167);
  }

  img {
    text-align: center;
    height: 48px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}


::-webkit-scrollbar-track {
  border-radius: 0px !important;
}

::-webkit-scrollbar {
  height: 0px;
  background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}

.feed-post {
  background: white;
  margin-bottom: 30px;
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

  ion-grid {
    padding: 0;
  }

  ion-col {
    padding: 0;
  }

  h2 {
    width: 100%;
    box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
    text-align: center;
    padding: 5px;
    margin: 10px 0 10px 0;
  }

  .tag {
    width: 100%;
    margin-top: 25px;
    padding: 5px 0 5px 0;
    box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .name-profile {
    margin: 15px 0 15px 0;
    text-align: center;
    color: #151c4a;

    span {
      color: #FF005E;
    }

    p {
      margin: 0
    }
  }

  .description-feed {
    text-align: center;
    padding: 0 20px 0 20px;
    font-size: 14px;

    span {
      color: #151c4a;
    }
  }

  .img-post-feed {
    object-fit: contain;
    margin-top: 15px;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.048);
  }


  .img-profile {
    margin: auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;

    img {
      text-align: center;
      height: 70px;
      width: 70px;
      border: 2px solid #fff;
      border-radius: 50%;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .img-profile:active {
    opacity: 0.5;
    box-shadow: 0 0 5px gray;
  }

  .img-guets {
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    padding: 2px;
    border: 3px solid rgb(221, 221, 221);

    img {
      text-align: center;
      height: 50px;
      width: 50px;
      border: 2px solid #fff;
      border-radius: 50%;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .comment-input {
    padding: 7px;
    margin: 10px;
    border: 1px solid #151c4a;
    border-radius: 12px;
  }

  ion-icon.like {
    font-size: 35px;
    margin-top: 9px;
    color: #FF005E
  }

  ion-icon.share {
    font-size: 35px;
    margin-top: 9px;
    color: #151c4a
  }

}

.feed-post.promotion {
  h2 {
    color: white;
    background-color: #46BFBF;
  }

  .tag {
    color: white;
    text-align: center;
    background-color: #46BFBF;
  }
}

.img-profile.new-post {
  padding: 2px;
  border: 3px solid #FF005E;
}

.img-profile.old-post {
  padding: 2px;
  border: 3px solid rgb(167, 167, 167);
}


.feed-post.exclusive {
  h2 {
    color: white;
    background-color: #FF005E;
  }

  .tag {
    color: white;
    text-align: center;
    background-color: #FF005E;
  }
}

.feed-post.gift {
  h2 {
    color: white;
    background-color: #5A60B1;
  }

  .tag {
    color: white;
    text-align: center;
    background-color: #5A60B1;
  }
}

.feed-post.lottery {
  h2 {
    color: white;
    background-color: #27AE60;
  }

  .tag {
    color: white;
    text-align: center;
    background-color: #27AE60;
  }
}

.feed-post.publish {
  h2 {
    color: white;
    background-color: #33365F;
  }

  .tag {
    color: white;
    text-align: center;
    background-color: #33365F;
  }
}


.qrcode {
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  margin: 10px;
  padding: 15px 18px 12px 18px;
  right: 0;
  font-size: 25px;
  color: white;
  background-color: rgba(255, 0, 93, 0.438);
  box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.55);
  border: 2px solid;
  text-align: center;
}

.qrcode:active {
  box-shadow: none;
  background-color: #FF005E;
}
