<ion-toolbar>
  <div class="header-feed">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <div class="input-sarch">
            <ion-icon name="search"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-4 text-center>
          <span class="font-guets">guets</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="sub-header-feed">
    <ion-grid>
      <ion-row>
        <ion-col col-1 text-center>
          <ion-icon menuToggle name="more"></ion-icon>
        </ion-col>
        <ion-col col-10 text-center>
          <span class="count">3</span>
          <ion-icon (click)="Notification()" name="notifications"></ion-icon>
        </ion-col>
        <ion-col col-1 text-right>
          <ion-icon name="bulb" (click)="postWish()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-toolbar>
<ion-content>

  <div class="content-feed">
    <div class="feed-preferred">
      <ion-grid>
        <ion-row text-center>
          <span>Preferidos</span>
        </ion-row>
        <ion-row>
          <ion-scroll class="scroll-preferred" scrollX="true">
            <ion-col class="radius new-post" col-2 no-padding>
              <img src="https://bit.ly/2IP0J3f" />
            </ion-col>
            <ion-col class="radius new-post" col-2 no-padding>
              <img src="https://bit.ly/2pQEzEN" />
            </ion-col>
            <ion-col class="radius new-post" col-2 no-padding>
              <img src="https://bit.ly/2NyaXWo" />
            </ion-col>
            <ion-col class="radius new-post" col-2 no-padding>
              <img src="https://bit.ly/2Edfqyd" />
            </ion-col>
            <ion-col class="radius old-post" col-2 no-padding>
              <img src="https://bit.ly/2NAZN2U" />
            </ion-col>
            <ion-col class="radius old-post" col-2 no-padding>
              <img src="https://bit.ly/2OUSuIf" />
            </ion-col>
            <ion-col class="radius old-post" col-2 no-padding>
              <img src="https://bit.ly/2PsuFoh" />
            </ion-col>
            <ion-col class="radius old-post" col-2 no-padding>
              <img src="https://bit.ly/2yxAXeO" />
            </ion-col>
            <ion-col class="radius old-post" col-2 no-padding>
              <img src="https://bit.ly/2Oluj6a" />
            </ion-col>
          </ion-scroll>
        </ion-row>
      </ion-grid>
    </div>
    <div class="feed-post promotion">
      <ion-grid>
        <ion-row>
          <h2>Promoção!</h2>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <div class="tag">-50%</div>
          </ion-col>
          <ion-col col-6 text-center>
            <div class="img-profile new-post" (click)="ProfileDetails()">
              <img src="https://bit.ly/2pQEzEN" />
            </div>
          </ion-col>
          <ion-col col-3 text-righ>
            <div class="img-guets">
              <img src="assets/imgs/guets.png" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="name-profile">
              <span>Simply FOOD</span> publicou uma promoção!
              <p><small>há 1 hora atrás</small> </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="description-feed">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco

              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <img class="img-post-feed" src="https://bit.ly/2C9IOTp" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <div class="comment-input">Escreva um comentário</div>
            <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="heart" class="like"></ion-icon>
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="send" class="share"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="feed-post exclusive">
      <ion-grid>
        <ion-row>
          <h2>Exclusiva!</h2>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <div class="tag" (click)="acceptExclusive()">Aceitar</div>
          </ion-col>
          <ion-col col-6 text-center>
            <div class="img-profile new-post" (click)="ProfileDetails()">
              <img src="https://bit.ly/2OUSuIf" />
            </div>
          </ion-col>
          <ion-col col-3 text-righ>
            <div class="img-guets">
              <img src="assets/imgs/guets.png" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="name-profile">
              <span>Play Food</span> publicou uma exclusiva prara você!
              <p><small>há 1 hora atrás</small> </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="description-feed">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco

              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <img class="img-post-feed" src="https://bit.ly/2pLOcVg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <div class="comment-input">Escreva um comentário</div>
            <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="heart" class="like"></ion-icon>
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="send" class="share"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="feed-post gift">
      <ion-grid>
        <ion-row>
          <h2>Presente!</h2>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <div class="tag" (click)="acceptExclusive()">Aceitar</div>
          </ion-col>
          <ion-col col-6 text-center>
            <div class="img-profile new-post" (click)="ProfileDetails()">
              <img src="https://bit.ly/2NyaXWo" />
            </div>
          </ion-col>
          <ion-col col-3 text-righ>
            <div class="img-guets">
              <img src="assets/imgs/guets.png" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="name-profile">
              <span>Fit Food</span> publicou um presente para você!
              <p><small>há 1 hora atrás</small> </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="description-feed">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco

              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <img class="img-post-feed" src="https://bit.ly/2CEl5Mc" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <div class="comment-input">Escreva um comentário</div>
            <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="heart" class="like"></ion-icon>
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="send" class="share"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="feed-post lottery">
      <ion-grid>
        <ion-row>
          <h2>Sorteio!</h2>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <div class="tag">Participar</div>
          </ion-col>
          <ion-col col-6 text-center>
            <div class="img-profile new-post" (click)="ProfileDetails()">
              <img src="https://bit.ly/2Edfqyd" />
            </div>
          </ion-col>
          <ion-col col-3 text-righ>
            <div class="img-guets">
              <img src="assets/imgs/guets.png" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="name-profile">
              <span>Rural Food</span> publicou um sorteio!
              <p><small>há 1 hora atrás</small> </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="description-feed">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco

              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <img class="img-post-feed" src="https://bit.ly/2OZPqLb" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <div class="comment-input">Escreva um comentário</div>
            <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="heart" class="like"></ion-icon>
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="send" class="share"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="feed-post publish">
      <ion-grid>
        <ion-row>
          <h2>Publicação</h2>
        </ion-row>
        <ion-row>
          <ion-col col-3>
          </ion-col>
          <ion-col col-6 text-center>
            <div class="img-profile new-post" (click)="ProfileDetails()">
              <img src="https://bit.ly/2NAZN2U" />
            </div>
          </ion-col>
          <ion-col col-3 text-righ>
            <div class="img-guets">
              <img src="assets/imgs/guets.png" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="name-profile">
              <span>Mineiro Food</span> publicou
              <p><small>há 1 hora atrás</small> </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="description-feed">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco

              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <img class="img-post-feed" src="https://bit.ly/2yw7lyy" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <div class="comment-input">Escreva um comentário</div>
            <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="heart" class="like"></ion-icon>
          </ion-col>
          <ion-col col-2 text-center>
            <ion-icon name="send" class="share"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>

<ion-footer>
  <div class="qrcode">
    <ion-icon name="qr-scanner"></ion-icon>
  </div>
  <!-- <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar> -->
</ion-footer>
