<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>
        Avaliação
      </ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="header-my-reviews">
    <ion-grid>
      <ion-row class="background-banner">
        <ion-col col-12>
          <div class="img-profile">
            <img src="https://bit.ly/2NyaXWo" /> <span>Fit Food</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="review-stars">
        <ion-col col-12 text-center>
          <ion-icon name="star-outline"></ion-icon>

          <ion-icon name="star-outline"></ion-icon>

          <ion-icon name="star-outline"></ion-icon>

          <ion-icon name="star-outline"></ion-icon>

          <ion-icon name="star-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="count-reviews">
        <ion-col col-12 text-center>
          Total de 3 avaliações
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div class="content-my-reviews">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="reviews-detail">
            <div class="reviews-post exclusive">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <div class="tag">5
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-8 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2AubkgV" />
                    </div>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Jorge Augusto</span>
                      <p><small>Avaliou em 21/05/18</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-reviews">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-10>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="reviews-post exclusive">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <div class="tag">5
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-8 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2AubkgV" />
                    </div>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Jorge Augusto</span>
                      <p><small>Avaliou em 21/05/18</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-reviews">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-10>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="reviews-post exclusive">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <div class="tag">5
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-8 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2AubkgV" />
                    </div>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="name-profile">
                      <span>Jorge Augusto</span>
                      <p><small>Avaliou em 21/05/18</small> </p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div class="description-reviews">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.

                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-10>
                    <div class="comment-input">Escreva um comentário</div>
                    <!-- <ion-input type="text" placeholder="Escreva um comentário"></ion-input> -->
                  </ion-col>
                  <ion-col col-2 text-center>
                    <ion-icon name="heart" class="like"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
