page-my-guets {
  body {
    background-color: #F0ECDC;
  }

  .back-button-md {
    margin: 0;
    min-width: 0;
  }

  .bar-button-md {
    padding: 0;
  }


  ion-grid {
    padding: 0px !important;
  }

  ion-content {
    background-color: #F0ECDC;
  }

  .scroll-my-guets {
    width: 100%;
    height: 500px;

  }

  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }


  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-my-guets {
    margin-top: 56px;

    ion-col {
      padding: 0px !important;
    }

    .background-banner {
      width: 100%;
      background: url("../assets/img/misc/material-design-background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
    }

    .img-profile-header {
      padding: 10px 0px 0px 0px;
      text-align: center;

      img {
        padding: 2px;
        border: 3px solid white;
        border-radius: 100%;
        height: 135px;
        width: 135px;
        box-shadow: 0 0 5px gray;
        border-radius: 100%;
      }

      span {
        color: white;
        font-size: 18px;
        margin-left: 10px;
        padding-bottom: 10px;
        top: -15px;
        position: relative;
      }

    }

    .name-profile-header {
      margin: 0px 0px 10px 0px;
      color: white;
      text-align: center;
      font-size: 22px;
    }

    .my-guets {
      color: #33365F;
      font-weight: bold;

      ion-col {
        padding: 2px !important;
      }
    }


    .content-my-guets {
      margin: 5px 0px 5px 0px;
      border: 1px solid #33365F;
      border-radius: 5px;
      background: white;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      p {
        margin: 2px;
      }

      .title {
        font-size: 16x;
      }

      .value {
        font-size: 16px;
      }
    }
  }

  .card-profile-detail {

    .post {
      background: white;
      margin-bottom: 30px;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      .title {
        line-height: 75px;
        font-size: 22px;
        color: #33365F;
        font-weight: bold;
      }

      ion-grid {
        padding: 0;
      }


      .img-post {
        background: url("https://bit.ly/2pLOcVg") no-repeat;
        background-size: cover;
        width: 100%;
        height: 210px;
      }


      .img-profile {
        margin: auto;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;

        img {
          text-align: center;
          height: 70px;
          width: 70px;
          border: 2px solid #fff;
          border-radius: 50%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }


      .img-guets {
        margin: auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        padding: 2px;
        border: 3px solid rgb(221, 221, 221);

        img {
          text-align: center;
          height: 50px;
          width: 50px;
          border: 2px solid #fff;
          border-radius: 50%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .progress {
        width: 140px;
        height: 140px;
        top: 105px;
        background: none;
        margin: 0 auto;

        position: relative;
      }

      .progress>span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      .progress .progress-left {
        left: 0;
      }

      .progress .progress-bar {
        width: 100%;
        height: 100%;
        border-width: 18px;
        background: none;
        border-style: solid;
        position: absolute;
        top: 0;
      }

      .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
      }

      .progress .progress-right {
        right: 0;
      }

      .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        animation: loading-1 1.8s linear forwards;
      }

      .progress .progress-value {
        span {

          font-size: 20px;
          font-weight: bold;
        }

        width: 104px;
        height: 104px;
        border: 3px solid white;
        padding-top: 18px;
        border-radius: 50%;
        background: #33365F;
        font-size: 15px;
        color: #fff;
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 18px;
        left: 18px;
      }

      .progress.blue .progress-bar {
        border-color: #049dff;
      }

      .progress.blue .progress-left .progress-bar {
        animation: loading-2 1.5s linear forwards 1.8s;
      }

      .progress.yellow .progress-bar {
        border-color: #fdba04;
      }

      .progress.yellow .progress-left .progress-bar {
        animation: loading-3 1s linear forwards 1.8s;
      }

      .progress.pink .progress-bar {
        border-color: #ed687c;
      }

      .progress.pink .progress-right .progress-bar {
        animation: loading-4 0.4s linear forwards 1.8s;
      }

      .progress.green .progress-bar {
        border-color: #1abc9c;
      }

      .progress.green .progress-left .progress-bar {
        animation: loading-5 1.2s linear forwards 1.8s;
      }

      @keyframes loading-1 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      @keyframes loading-2 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
        }
      }

      @keyframes loading-3 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
        }
      }

      @keyframes loading-4 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }

      @keyframes loading-5 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
        }
      }


      .comment-input {
        padding: 7px;
        margin: 10px;
        border: 1px solid #151c4a;
        border-radius: 12px;
      }

      ion-icon.like {
        font-size: 35px;
        margin-top: 9px;
        color: #FF005E
      }

      ion-icon.share {
        font-size: 35px;
        margin-top: 9px;
        color: #151c4a
      }

    }

    .post .description {
      margin: 40px 0px 10px 0px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: #33365F;
    }

    .img-profile.new-post {
      padding: 2px;
      border: 3px solid #FF005E;
    }


  }

  ion-navbar {
    ion-icon {
      color: white
    }
  }
}
