<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Meus guets</ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="topGuets()">
          <ion-icon name="trophy"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-my-guets">
    <ion-grid>
      <ion-row class="background-banner">
        <ion-col col-12>
          <div class="img-profile-header">
            <img src="assets/img/avatar/girl-avatar.png" />
          </div>
        </ion-col>
        <ion-col col-12 class="name-profile-header">
          <span>Felipe Correia</span>
        </ion-col>
      </ion-row>
      <ion-row class="my-guets">
        <ion-col col-3>
          <div class="content-my-guets" text-center>
            <p class="title">Categoria</p>
            <p class="value">MASTER</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="content-my-guets" text-center>
            <p class="title">TOP 1000</p>
            <p class="value">1</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="content-my-guets" text-center>
            <p class="title">Guets</p>
            <p class="value">15</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="content-my-guets" text-center>
            <p class="title">
              <ion-icon name="medal"></ion-icon>
            </p>
            <p class="value">Verificado</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="card-profile-detail">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="content-post">
            <div class="post promotion">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-6>
                    <div class="title">
                      iFitness food
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="img-post">
                    <div class="progress green">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <span class="font-guets">GUETS</span> <br>90% <br>Completo!
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="description">
                    Rodizio completo
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <div class="content-post">
            <div class="post promotion">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-6>
                    <div class="title">
                      iFitness food
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="img-post">
                    <div class="progress yellow">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <span class="font-guets">GUETS</span> <br>70% <br>Completo!
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="description">
                    Escolha qualquer Prato
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <div class="content-post">
            <div class="post promotion">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 text-center>
                    <div class="img-profile new-post">
                      <img src="https://bit.ly/2NyaXWo" />
                    </div>
                  </ion-col>
                  <ion-col col-6>
                    <div class="title">
                      iFitness food
                    </div>
                  </ion-col>
                  <ion-col col-3 text-righ>
                    <div class="img-guets">
                      <img src="assets/imgs/guets.png" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="img-post">
                    <div class="progress pink">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <span class="font-guets">GUETS</span> <br>20% <br>Completo!
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="description">
                    Almoço completo
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
