<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Notificações</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-notification-trade">
    <ion-grid>

      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2AubkgV" />
          </div>
        </ion-col>
        <ion-col col-5 text-left>
          <p class="title">Jorge Augusto</p>
          <p class="description">Comentou na sua publicação!</p>
          <p class="date">08/11/18 - 13:50</p>
        </ion-col>
        <ion-col col-4>
          <img class="img-post-feed" src="https://bit.ly/2pLOcVg" />
        </ion-col>
      </ion-row>
      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2AubkgV" />
          </div>
        </ion-col>
        <ion-col col-5 text-left>
          <p class="title">Jorge Augusto</p>
          <p class="description">Compartilhou a sua Publicação</p>
          <p class="date">08/11/18 - 10:00</p>
        </ion-col>
        <ion-col col-4>
          <img class="img-post-feed" src="https://bit.ly/2C9IOTp" />
        </ion-col>
      </ion-row>
      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2AubkgV" />
          </div>
        </ion-col>
        <ion-col col-5 text-left>
          <p class="title">Jorge Augusto</p>
          <p class="description">Aceitou o seu presente de aniversario!</p>
          <p class="date">06/11/18 - 13:30</p>
        </ion-col>
        <ion-col col-4>
          <img class="img-post-feed" src="https://bit.ly/2CEl5Mc" />
        </ion-col>
      </ion-row>
      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2AubkgV" />
          </div>
        </ion-col>
        <ion-col col-5 text-left>
          <p class="title">Jorge Augusto</p>
          <p class="description">Curtiu sua página!</p>
          <p class="date">05/11/18 - 15:50</p>
        </ion-col>
        <ion-col col-4>
          <img class="img-post-feed" src="https://bit.ly/2yw7lyy" />
        </ion-col>
      </ion-row>
      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2AubkgV" />
          </div>
        </ion-col>
        <ion-col col-5 text-left>
          <p class="title">Jorge Augusto</p>
          <p class="description">Esta participando do sorteio!</p>
          <p class="date">02/11/18 - 14:45</p>
        </ion-col>
        <ion-col col-4>
          <img class="img-post-feed" src="https://bit.ly/2OZPqLb" />
        </ion-col>
      </ion-row>
      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2AubkgV" />
          </div>
        </ion-col>
        <ion-col col-5 text-left>
          <p class="title">Jorge Augusto</p>
          <p class="description">Aceitou sua exclusiva!</p>
          <p class="date">01/11/18 - 07:30</p>
        </ion-col>
        <ion-col col-4>
          <img class="img-post-feed" src="https://bit.ly/2pLOcVg" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
