page-notification-trade {
  body {
    background-color: #F0ECDC;
  }


  ion-content {
    background-color: #F0ECDC;
  }




  .scroll-notification-trade {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }




  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }


  .img-post-feed {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.048);
  }

  .content-notification-trade {
    margin-top: 55px;

    .card {
      margin: 5px 0px 5px 0px;
      background: white;
      padding: 5px;
      color: #33365F;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      .img-profile {
        margin: auto;
        height: 56px;
        width: 55px;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        padding: 2px;
        border: 3px solid rgb(167, 167, 167);

        img {
          text-align: center;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .img-profile.not-open {
        border: 1px solid #FF005E;
      }

      p {
        margin: 0;
      }

      .title {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 14px;
      }

      .date {
        font-size: 12px;
        color: #FF005E;
        margin-top: 10px;
        text-align: left;
      }
    }

    .card.exclusive {
      border-top: 5px solid #FF005E;
    }
  }
}
