<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Termos de Uso e Privacidade </ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-terms">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h2 text-center>Políticas de Privacidade </h2>
        </ion-col>
        <ion-col col-12>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non est ac lacus sollicitudin feugiat nec at
            risus. Quisque nec cursus orci. Suspendisse potenti. Vestibulum sollicitudin est nec enim tincidunt
            feugiat.
            Cras vehicula ut nibh eu euismod. Curabitur feugiat turpis libero, nec suscipit nunc auctor ut. Vivamus
            nibh
            mauris, molestie eu ultricies et, consequat sed augue. Suspendisse quis tristique orci. Cras imperdiet
            massa
            vitae turpis ultrices, id fermentum tellus pellentesque. Pellentesque semper odio eu augue consectetur
            tempus. Vestibulum sit amet risus maximus, vehicula quam eu, sagittis nisl. Duis ultrices molestie commodo.
            Nunc sed urna odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sed hendrerit
            purus,
            in condimentum odio. Duis euismod turpis eu libero pulvinar, ac consequat leo aliquam. Vivamus mattis
            pretium
            massa, vel auctor tellus egestas et. Morbi rutrum nunc eu tempus lacinia. Sed viverra fermentum ex vitae
            dapibus. Sed nec purus nisi.
          </div>
        </ion-col>
        <ion-col col-12>
          <h2 text-center>Termos de Uso</h2>
        </ion-col>
        <ion-col col-12>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non est ac lacus sollicitudin feugiat nec at
            risus. Quisque nec cursus orci. Suspendisse potenti. Vestibulum sollicitudin est nec enim tincidunt
            feugiat.
            Cras vehicula ut nibh eu euismod. Curabitur feugiat turpis libero, nec suscipit nunc auctor ut. Vivamus
            nibh
            mauris, molestie eu ultricies et, consequat sed augue. Suspendisse quis tristique orci. Cras imperdiet
            massa
            vitae turpis ultrices, id fermentum tellus pellentesque. Pellentesque semper odio eu augue consectetur
            tempus. Vestibulum sit amet risus maximus, vehicula quam eu, sagittis nisl. Duis ultrices molestie commodo.
            Nunc sed urna odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sed hendrerit
            purus,
            in condimentum odio. Duis euismod turpis eu libero pulvinar, ac consequat leo aliquam. Vivamus mattis
            pretium
            massa, vel auctor tellus egestas et. Morbi rutrum nunc eu tempus lacinia. Sed viverra fermentum ex vitae
            dapibus. Sed nec purus nisi.
          </div>
        </ion-col>
        <ion-col col-12>
          <h2 text-center>Sobre</h2>
        </ion-col>
        <ion-col col-12>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non est ac lacus sollicitudin feugiat nec at
            risus. Quisque nec cursus orci. Suspendisse potenti. Vestibulum sollicitudin est nec enim tincidunt
            feugiat.
            Cras vehicula ut nibh eu euismod. Curabitur feugiat turpis libero, nec suscipit nunc auctor ut. Vivamus
            nibh
            mauris, molestie eu ultricies et, consequat sed augue. Suspendisse quis tristique orci. Cras imperdiet
            massa
            vitae turpis ultrices, id fermentum tellus pellentesque. Pellentesque semper odio eu augue consectetur
            tempus. Vestibulum sit amet risus maximus, vehicula quam eu, sagittis nisl. Duis ultrices molestie commodo.
            Nunc sed urna odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sed hendrerit
            purus,
            in condimentum odio. Duis euismod turpis eu libero pulvinar, ac consequat leo aliquam. Vivamus mattis
            pretium
            massa, vel auctor tellus egestas et. Morbi rutrum nunc eu tempus lacinia. Sed viverra fermentum ex vitae
            dapibus. Sed nec purus nisi.
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
