page-terms {
  body {
    background-color: #F0ECDC;
  }


  ion-content {
    background-color: #F0ECDC;
  }



  .scroll-notification-trade {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }




  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }


  .content-terms {
    margin-top: 55px;

    .grid {
      padding: 0px 20px 0px 20px;
      background: white;
      text-align: justify;
    }

    h2 {
      color: #33365F;
      font-weight: bold;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0;
      color: #FF005E;
    }

    .content {
      color: #707070;
    }
  }
}
