page-frequently-question {
  body {
    background-color: #F0ECDC;
  }


  ion-content {
    background-color: #F0ECDC;
  }




  .scroll-frequently-question {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }



  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  ion-content {
    h2 {
      color: #33365F;
      font-weight: bold;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0;
      color: #FF005E;
    }

    .content {
      color: #33365F;
    }
  }
}
