<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Ajuda e Suporte</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col col-12>
        <h2>Perguntas Frequentes</h2>
      </ion-col>
      <ion-col col-12>
        <h2 text-center>Perguntas Frequentes</h2>

      </ion-col>
      <ion-col col-12>
        <p text-center class="title">O que são guets ?</p>
        <p text-center class="content">Guets são pontos que você pode acumular de diversas maneiras. Você pode acumular
          comprando nos estabelecimentos comerciais cadastrados no <b>GUETS</b> e também pode acumular compartilhando
          as publicações no Facebook e WhatsApp.</p>
      </ion-col>
      <ion-col col-12>
        <p text-center class="title">Como faço para utilizar os guets ?</p>
        <p text-center class="content">Quando a sua pontuação atingir os 100% salve o cupom em seu smartphone e mostre
          ao estabelecimento para resgatar o seu prêmio.</p>
      </ion-col>
      <ion-col col-12>
        <p text-center class="title">Posso repassar meus Guets ou meus prêmios para outra pessoa ?</p>
        <p text-center class="content">Não. As pontuações e os prêmios no <b>GUETS</b> são instransferíveis.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
