<ion-header>
  <ion-title id="title">
    <img class="image-header" src="assets/imgs/Logo-ltm.png" alt="" padding>
  </ion-title>


</ion-header>



<ion-content padding>
  <ion-navbar class="cadastroImg">
    <!-- <img src="assets/imgs/cadastro.png" alt="" padding> -->
    <button id="buttonNavbar" (click)="backButton()" color="secondary"></button>

    <p id="navbarParagraph"> Dados de cadastro </p>
  </ion-navbar>

  <p class="club-text">É muito bom ter você aqui.</p>
  <p class="blankFields"> Preencha os campos abaixo para se cadastrar. </p>

  <!-- <ion-item padding>
    <ion-label floating>Nome do evento *</ion-label>
    <ion-input (ionBlur)="validEventName(); checkbuttonCadastrar()" type="text" value="" [(ngModel)]="trucker.eventName"></ion-input>
  </ion-item>
  <p *ngIf="eventNameNull" class="invalid-input">Nome do evento obrigatório</p> -->

  <ion-item padding>
    <ion-label floating>Marca:</ion-label>
    <ion-input type="text" value="" [(ngModel)]="trucker.truckerBrand"></ion-input>
  </ion-item>
  <ion-item padding>
    <ion-label floating>Modelo:</ion-label>
    <ion-input type="text" value="" [(ngModel)]="trucker.truckerModel"></ion-input>
  </ion-item>


  <div *ngIf="frotista">


    <ion-list (ionChange)="changeProfile()" padding>
      <p *ngIf="frotista" class="companyFields"> Dados da Empresa </p>
      <ion-item *ngIf="frotista">
        <ion-label floating> Tipo de empresa *</ion-label>
        <ion-select (ionBlur)="validSubProfile(); SubProfileValidation()" [(ngModel)]="trucker.subprofile">
          <ion-option value="frota">Frota</ion-option>
          <ion-option value="oficina">Oficina</ion-option>
        </ion-select>
      </ion-item>
      <p *ngIf="subProfileNullforHTML" class="invalid-input">Tipo de empresa obrigatório</p>

      <ion-item>
        <ion-label floating> CNPJ *</ion-label>
        <ion-input (ionBlur)="validCNPJ(); checkbuttonCadastrar()" type="tel" [brmasker]="{mask:'00.000.000/0000-00', len:18}" value=""
          [(ngModel)]="trucker.CNPJ"></ion-input>
      </ion-item>
      <p *ngIf="!cnpjValid && cnpjNull == false" class="invalid-input">CNPJ inválido</p>
      <p *ngIf="cnpjNull" class="invalid-input">CNPJ obrigatório</p>

      <ion-item>
        <ion-label floating> Razão Social *</ion-label>
        <ion-input (ionBlur)="ValidCorporate()" type="text" value="" [(ngModel)]="trucker.corporateName"></ion-input>
      </ion-item>
      <p *ngIf="corporateNameNull" class="invalid-input">Razão social obrigatória</p>
      <p *ngIf="!corporateNameValid && corporateNameNull == false" class="invalid-input">Razão social inválida</p>

      <ion-item>
        <ion-label floating> Telefone da empresa *</ion-label>
        <ion-input (ionBlur)="validTel(); checkbuttonCadastrar()" type="tel" [brmasker]="{mask:'(00) 0000-0000', len:14}" value=""
          [(ngModel)]="trucker.telephone"></ion-input>
      </ion-item>
      <p *ngIf="!telValid && telNull == false" class="invalid-input">Número de telefone inválido</p>
      <p *ngIf="telNull" class="invalid-input">Número de telefone obrigatório</p>

      <ion-item>
        <ion-label floating> Estado *</ion-label>
        <ion-select (ionBlur)="chooseState(); validState()" [(ngModel)]="trucker.uf">
          <ion-option *ngFor="let item of s" value="{{item}}">
            {{item}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p *ngIf="stateNull" class="invalid-input">Estado obrigatório</p>

      <ion-item *ngIf="trucker.uf">
        <ion-label floating>Cidade *</ion-label>
        <select-searchable item-content [(ngModel)]="trucker.localidade" [items]="city[0]" itemTextField="" [canSearch]="true" (onChange)="portChange($event); validCity()">
        </select-searchable>
      </ion-item>
      <p *ngIf="cityNull" class="invalid-input">Cidade obrigatória</p>


      <p *ngIf="frotista" class="companyFields"> Dados do Responsável </p>

      <ion-item>
        <ion-label floating> Nome Completo *</ion-label>
        <ion-input (ionBlur)="validName()" type="text" [(ngModel)]="trucker.name" name="name">
        </ion-input>
      </ion-item>
      <p *ngIf="nameValid == false && nameNull == false" class="invalid-input">Nome inválido</p>
      <p *ngIf="nameNull" class="invalid-input">Nome obrigatório</p>


      <ion-item>
        <ion-label floating> E-mail *</ion-label>
        <ion-input (ionBlur)="validEmail()" type="email" value="" [(ngModel)]="trucker.email"></ion-input>
      </ion-item>
      <p *ngIf="!emailValid && emailNull == false" class="invalid-input">E-mail inválido</p>
      <p *ngIf="emailNull" class="invalid-input">E-mail obrigatório</p>


      <ion-item *ngIf="!proprietario">
        <ion-label floating> CPF *</ion-label>
        <ion-input (ionBlur)="validCPF(); checkbuttonCadastrar()" type="tel" [brmasker]="{mask:'000.000.000-00', len:14}" value=""
          [(ngModel)]="trucker.CPF"></ion-input>
      </ion-item>
      <p *ngIf="!cpfValid && cpfNull == false" class="invalid-input">CPF inválido</p>
      <p *ngIf="cpfNull" class="invalid-input">CPF obrigatório</p>

      <ion-item>
        <ion-label floating> Data de Nascimento *</ion-label>
        <ion-input (ionBlur)="validBirth()" type="text" [brmasker]="{mask:'dd/mm/yyyy', len:10}" [(ngModel)]="trucker.birth"></ion-input>
      </ion-item>
      <p *ngIf="birthNull" class="invalid-input">Data de nascimento obrigatória</p>
      <p *ngIf="!birthValidation && birthNull == false" class="invalid-input">Data de nascimento inválida</p>


      <ion-item>
        <ion-label floating> Celular *</ion-label>
        <ion-input (ionBlur)="validCellphone(); checkbuttonCadastrar()" type="tel" [brmasker]="{mask:'(00) 00000-0000', len:15}"
          value="" [(ngModel)]="trucker.cellphone"></ion-input>
      </ion-item>
      <p *ngIf="!celValid && celNull == false" class="invalid-input">Número de telefone inválido</p>
      <p *ngIf="celNull" class="invalid-input">Número de telefone obrigatório</p>
    </ion-list>


    <ion-item>
      <ion-label class="privacy-terms">* Li e concordo com as
        <b (click)="privacyTerms()" style="color: blue; text-decoration: underline;">Políticas de Privacidade</b> e
        <b (click)="regulationTerms()" style="color: blue; text-decoration: underline;">Regulamento</b>
      </ion-label>
      <ion-toggle name="togglePrivacyTerms" [(ngModel)]="togglePrivacyTerms" (ionChange)="updatePrivacyTerms()"></ion-toggle>
    </ion-item>

    <div class="btns">
      <div class="btn-register">
        <button [disabled]="!buttonStatus" ion-button (click)="registerTrucker()" color="secondary">Cadastrar</button>
      </div>
    </div>
    <p id="requiredFields"> Informações com (*) são obrigatórias </p>
    <p *ngIf="!buttonStatus" id="verifyParagraph"> Verifique os campos marcados com (*)</p>
  </div>





  <div *ngIf="motoristaAutonomo || oficinaIndependente">
    <p *ngIf="frotista" class="companyFields"> Dados da Empresa </p>


    <ion-item padding>
      <ion-label floating> Tipo de empresa*:</ion-label>
      <ion-select (ionBlur)="changetypeOfCompany(); validtypeOfCompany()" [(ngModel)]="trucker.typeOfCompany">
        <ion-option value="frota">Frota</ion-option>
        <ion-option value="oficina">Oficina</ion-option>
      </ion-select>
    </ion-item>
    <p *ngIf="typeOfCompanyNullforHTML" class="invalid-input">Tipo de empresa obrigatório</p>


    <ion-item *ngIf="frota" padding>
      <ion-label floating> Cargo *</ion-label>
      <ion-select (ionBlur)="validSubProfile(); SubProfileValidation()" [(ngModel)]="trucker.subprofile">
        <ion-option value="almoxarifado">Almoxarifado</ion-option>
        <ion-option value="comprador">Comprador</ion-option>
        <ion-option value="gestorFrota">Gestor de Frota</ion-option>
        <ion-option value="gestorManutencao">Gestor de Manutenção</ion-option>
        <ion-option value="motorista">Motorista</ion-option>

      </ion-select>
    </ion-item>

    <ion-item *ngIf="oficina" padding>
      <ion-label floating> Cargo *</ion-label>
      <ion-select (ionBlur)="validSubProfile(); SubProfileValidation()" [(ngModel)]="trucker.subprofile">
        <ion-option value="comprador">Comprador</ion-option>
        <ion-option value="gerente">Gerente</ion-option>
        <ion-option value="mecanico">Mecânico</ion-option>
        <ion-option value="proprietario">Proprietário</ion-option>
      </ion-select>
    </ion-item>
    <p *ngIf="subProfileNullforHTML" class="invalid-input">Cargo obrigatório</p>



    <ion-list (ionChange)="changeProfile()" padding>

      <ion-item>
        <ion-label floating> Nome Completo*</ion-label>
        <ion-input (ionBlur)="validName()" type="text" [(ngModel)]="trucker.name" name="name">
        </ion-input>
      </ion-item>
      <p *ngIf="nameValid == false && nameNull == false" class="invalid-input">Nome inválido</p>
      <p *ngIf="nameNull" class="invalid-input">Nome obrigatório</p>

      <ion-item>
        <ion-label floating> E-mail *</ion-label>
        <ion-input (ionBlur)="validEmail()" type="email" value="" [(ngModel)]="trucker.email"></ion-input>
      </ion-item>
      <p *ngIf="!emailValid && emailNull == false" class="invalid-input">E-mail inválido</p>
      <p *ngIf="emailNull" class="invalid-input">E-mail obrigatório</p>


      <ion-item *ngIf="!proprietario">
        <ion-label floating> CPF *</ion-label>
        <ion-input (ionBlur)="validCPF(); checkbuttonCadastrar()" type="tel" [brmasker]="{mask:'000.000.000-00', len:14}" value=""
          [(ngModel)]="trucker.CPF"></ion-input>
      </ion-item>
      <p *ngIf="!cpfValid && cpfNull == false" class="invalid-input">CPF inválido</p>
      <p *ngIf="cpfNull" class="invalid-input">CPF obrigatório</p>

      <ion-item>
        <ion-label floating> Data de Nascimento *</ion-label>
        <ion-input (ionBlur)="validBirth()" type="text" [brmasker]="{mask:'dd/mm/yyyy', len:10}" [(ngModel)]="trucker.birth"></ion-input>
      </ion-item>
      <p *ngIf="birthNull" class="invalid-input">Data de nascimento obrigatória</p>
      <p *ngIf="!birthValidation && birthNull == false" class="invalid-input">Data de nascimento inválida</p>

      <ion-item>
        <ion-label floating> Celular *</ion-label>
        <ion-input (ionBlur)="validCellphone(); checkbuttonCadastrar()" type="tel" [brmasker]="{mask:'(00) 00000-0000', len:15}"
          value="" [(ngModel)]="trucker.cellphone"></ion-input>
      </ion-item>
      <p *ngIf="!celValid && celNull == false" class="invalid-input">Número de telefone inválido</p>
      <p *ngIf="celNull" class="invalid-input">Número de telefone obrigatório</p>


      <ion-item>
        <ion-label floating> Estado *</ion-label>
        <ion-select (ionBlur)="chooseState(); validState()" [(ngModel)]="trucker.uf">
          <ion-option *ngFor="let item of s" value="{{item}}">
            {{item}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p *ngIf="stateNull" class="invalid-input">Estado obrigatório</p>

      <ion-item *ngIf="trucker.uf">
        <ion-label floating>Cidade *</ion-label>
        <select-searchable item-content [(ngModel)]="trucker.localidade" [items]="city[0]" itemTextField="" [canSearch]="true" (onChange)="portChange($event); validCity()">
        </select-searchable>
      </ion-item>
      <p *ngIf="cityNull" class="invalid-input">Cidade obrigatória</p>

    </ion-list>




    <ion-item padding>
      <ion-label class="privacy-terms">* Li e concordo com as
        <b (click)="privacyTerms()" style="color: blue; text-decoration: underline;">Políticas de Privacidade</b> e
        <b (click)="regulationTerms()" style="color: blue; text-decoration: underline;">Regulamento</b>
      </ion-label>
      <ion-toggle name="togglePrivacyTerms" [(ngModel)]="togglePrivacyTerms" (ionChange)="updatePrivacyTerms()"></ion-toggle>
    </ion-item>

    <div class="btns">
      <div class="btn-register">
        <button ion-button [disabled]="!buttonStatus" (click)="registerTrucker()" color="secondary">Cadastrar</button>

      </div>
    </div>
    <p id="requiredFields"> Informações com (*) são obrigatórias </p>
    <p *ngIf="!buttonStatus" id="verifyParagraph"> Verifique os campos marcados com (*)</p>
  </div>





  <ion-footer id="footer">
    <div class="rectangle">
      <div class="align-footer">
        <a class="link-color" href="https://www.facebook.com/MercedesBenz/">
          <img class="img-logo" src="assets/imgs/facebook_icon.png">
        </a>
        <a class="link-color" href="https://www.instagram.com/mercedesbenz/?hl=pt-br">
          <img class="img-logo" src="assets/imgs/instagram_icon.png">
        </a>
        <a class="link-color" href="https://twitter.com/mercedesbenzbr">
          <img class="img-logo" src="assets/imgs/twitter_icon-.png">
        </a>
      </div>
    </div>
  </ion-footer>
</ion-content>