page-register {


    .invalid-input {
      color: red;
      font-size: 11px;
      padding: 0px !important;
      padding-left: 20px !important;
    }
  
    .eventName {
      width: 50%;
    }
  
    .eventNameBtn {
      padding: 10px;
    }
  
    #title {
      background-color: #151c4a;
      text-align: center;
    }
  
    .who-text {
      font-weight: bold;
      text-align: center;
      margin-bottom: 8%;
      font-size: 18px;
    }
  
    .club-text {
      font-family: corporate;
      font-size: 40px;
      color: #00adef;
      margin-top: 18%;
      text-align: center;
      margin-bottom: 6%;
    }
  
    .info-button {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      color: white;
      background-color: #00adef;
      float: right;
      margin: 3%;
    }
  
    .modal-footer {
      margin: 5%;
      padding-bottom: 3%;
    }
  
    .profile-modal {
      width: 95%;
      min-height: 15%;
      background: #eeeeee;
      margin-bottom: 11px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 7px;
    }
  
    .profile-modal p {
      font-size: 1.8em;
      position: relative;
      display: inline-flex;
      left: 45%;
      transform: translateX(-105%);
      text-align: center;
      margin-top: 0.7em;
      font-family: corporate;
    }
  
    .profile-modal p span {
      color: #00adef;
      text-align: center;
      position: absolute;
    }
  
    .image-header {
      width: 43%;
    }
  
    .img-icon {
      position: absolute;
      margin-left: 10px;
      margin-top: 10px;
    }
  
    .toolbar-md {
      padding: 0px;
      min-height: 56px;
      position: absolute;
      width: 100%;
      height: 13%;
      left: 0%;
      top: 0%;
    }
  
    .toolbar-ios {
      padding: 0px;
      min-height: 56px;
      position: absolute;
      width: 100%;
      height: 13%;
      left: 0%;
      top: 0%;
    }
  
    button#choose-button {
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      width: 95%;
      padding: 0px;
      border-radius: 4px;
      margin-top: 6%;
      margin-bottom: 3%;
    }
  }
  
  .content-profile {
    background-color: rgba(255, 0, 85, 1);
    background: filter-gradient(#ff0055, #ff005e, horizontal);
    background: background-image(linear-gradient(left top, rgba(255, 0, 85, 1) 0%, rgba(255, 0, 94, 1) 100%));
  }
  
  .bar-button-default-ios,
  .bar-button-default.bar-button-ios-default,
  .bar-button-clear-ios-default {
    margin-left: 10px;
    color: black;
  }
  
  .profile-title {
    text-align: center;
    padding: 5% 0px 5% 0;
    width: 100%;
  
    span {
      font-weight: bold;
      color: white;
      font-size: 5rem;
      font-family: "adobe-clean", sans-serif;
      vertical-align: baseline;
      resize: none;
    }
  }
  
  .content-header {
    height: 55px;
  
  }
  
  .profile-subtitle {
    text-align: center;
    padding: 0 0 10% 0;
    width: 100%;
  
    span {
      font-weight: bold;
      color: white;
      font-family: "adobe-clean", sans-serif;
      vertical-align: baseline;
      resize: none;
    }
  }
  
  .container-register {
    margin: auto;
    background: white;
    width: 145px;
    height: 145px;
    margin-bottom: 10%;
    padding: 10px;
    color: #33365f;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.29)
  }
  
  .container-register {
    text-align: center;
  
    ion-icon {
      font-weight: bold;
      font-size: 10.5rem;
    }
  
    p {
      font-weight: bold;
      font-size: 2rem;
      margin: 0;
    }
  }
  
  .container-register:active {
    background: #bfbfbf;
    box-shadow: none;
  }
  