page-post-exclusive {

  body {
    background-color: #F0ECDC;
  }

  .back-button-md {
    margin: 0;
    min-width: 0;
  }

  .bar-button-md {
    padding: 0;
  }

  ion-col {
    padding: 0px !important;
  }

  ion-content {
    background-color: #F0ECDC;
  }


  .scroll-post-exclusive {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }




  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-post-exclusive {
    margin-top: 55px;

    ion-grid {
      padding: 10px;
    }

    ion-row {
      box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.15);
      padding: 10px;
      background: white;
      margin-bottom: 10px;
      border-radius: 10px;

      ion-list {
        margin-bottom: 0;
      }

      .label-post-exclusive {
        color: #33365F;
        font-weight: bold;
      }

      #file-input {
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 999;
      }

      ion-textarea {
        border: 1px solid silver;
        border-radius: 5px;
      }

      ion-input {
        border: 1px solid silver;
        border-radius: 5px;
      }

    }
  }


  ion-navbar {
    ion-icon {
      color: white
    }
  }
}
