<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab tabTitle="Consulta" [root]="tab1"></ion-tab>
    <ion-tab tabTitle="Exportação" [root]="tab3"></ion-tab>

  </ion-tabs>`

</ion-content>