// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  overflow: hidden;
}



.back-button-md {
  margin: 0;
  min-width: 0;
}

.bar-button-md {
  padding: 0;
}


.no-scroll {
  scroll-content {
    overflow-y: hidden;
  }
}

.scroll {
  scroll-content {
    overflow-y: scroll;
  }
}

.scroll-content {
  background-color: #F0ECDC;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}

.align-center {
  text-align: center;
}

.highlight {
  background-color: #f4f4f4;
}

.center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}

.round {
  border-radius: 50%;
}

.transparent-header {

  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }

  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }

  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }

  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }

  // ---
}

// Material Design Sidemenu
#menu-material {
  .menu-header {
    box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
    text-align: center;
    padding: 5px 15px;
    background-image: url('../assets/img/misc/material-design-background.jpg');
    background-size: cover;
    color: white;

    img {
      height: 90px;
      max-width: 90px;
      border: 2px solid;
    }

    .name {
      text-align: left;
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 3px;
    }

    .e-mail {
      text-align: left;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  .menu-content {
    padding: 20px 15px;
    font-size: 18px;

    .text {
      color: #33365F;
      font-weight: bold;
    }

    .code {
      color: white;
      border-radius: 10px;
      background-color: #d2004d;
      padding: 10px;
      margin-left: 20px;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55)
    }
  }

  .user-avatar {
    max-width: 125px;
    height: 125px;
    padding: .5em;
    height: 12vh;
  }

  ion-list {
    box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, 0.55);

    button {
      border-bottom: 1px solid rgb(240, 240, 240);
    }

    .active {
      box-shadow: inset 0px 0px 15px -4px rgba(0, 0, 0, 0.55);
      background-color: #f3f3f3;
    }
  }

  h3,
  .label,
    {
    color: #33365F;
    font-weight: bold;
  }

  ion-icon {
    color: #d2004d;
  }
}

.button {
  border-radius: 10px;
  font-size: 16px;
  padding: 25px 20px 25px 20px;
}

.toolbar {
  padding: 0px 10px 0px 10px;
}

.toolbar-background-ios {
  background-color: #FF005E;

}

.toolbar-background {
  background-color: #FF005E;
}

.toolbar-md {
  min-height: 56px;
}

.toolbar-title-ios {
  color: white !important;
}

.toolbar-title {
  font-family: 'Baloo Bhaijaan', cursive;
  overflow: hidden;
  color: white;
}


.font-guets {
  font-weight: normal !important;
  font-family: 'Baloo Bhaijaan', cursive !important
}

ion-select {
  border: 1px solid silver;
  border-radius: 5px;
  max-width: 100%;
}
