<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <div class="menu-header">
      <!--material-design-background-->
      <img class="user-avatar round" [src]="chosenPicture || placeholder" (click)="my()" menuClose="left" onerror="this.src='assets/img/avatar/girl-avatar.png'" />
      <p class="name">Felipe Correia</p>
      <p class="e-mail">feelipefernand@gmail.com</p>
    </div>
    <div class="menu-content">
      <span class="text">Seu código GUETS</span> <span class="code" menuClose="left" (click)="invitation()">FGU1903</span>
    </div>
    <ion-list no-lines>
      <button menuClose="left" [ngClass]="{'active': p.active}" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
