<ion-content>
  <div class="content-accept-exclusive">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="img-profile new-post">
            <img src="https://bit.ly/2pQEzEN" />
          </div>
        </ion-col>
        <ion-col class="name-profile" col-12 text-center>
          <span>Simply FOOD</span>
        </ion-col>
        <ion-col class="description-profile" col-12 text-center>
          <span>Está lhe oferendo uma exclusiva!</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button ion-button block color="danger" type="button">
            Um Day Spa completo!
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="well-content">
          <p class="title">Regulamento</p>
          <p>Cras consectetur euismod turpis sed molestie. Nulla eu vestibulum tortor. Nulla quis lacus id nibh
            venenatis accumsan. Integer bibendum, purus et convallis eleifend, justo lacus dignissim nibh, nec dapibus
            nibh risus quis est. Nulla mauris tellus, gravida sed mauris vitae, venenatis luctus lacus.</p>

          <p>Cras consectetur euismod turpis sed molestie. Nulla eu vestibulum tortor. Nulla quis lacus id nibh
            venenatis accumsan. Integer bibendum, purus et convallis eleifend, justo lacus dignissim nibh, nec
            dapibus
            nibh risus quis est. Nulla mauris tellus, gravida sed mauris vitae, venenatis luctus lacus.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6> <button ion-button block color="success" (click)="accepted()" type="button">
            Aceitar
          </button></ion-col>
        <ion-col col-6> <button ion-button block color="secondary" (click)="feed()" type="button">
            Agora não
          </button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
