page-consult {
    .search {
        padding-top: 4px;
        text-align: right;
    }

    .find{
        // -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        // -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        // box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        padding-right: 21px;
        padding-bottom: 15px;
    }

    #title{
        background-color: #151c4a;
        text-align: center;
    }

    .searchResult{
        margin-top: 45px;
    }
    
    .searchText{
        font-size: 20px;
        text-align: center;
        font-weight: bold; 
        left: 50%;
        transform: translateX(4%);
    }

    .list-trucker{
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        margin-top: 50px;
        padding-top: 1px;
        padding-right: 20px;
        padding-bottom: 1px;
    }

    .content-md hr {
        margin-left: 6%;
    }

    .line{
        border-width: 0 0 10px 0;
        color: black;
    }

    .totalSearches{
        background-color: #488aff;
        border-radius: 7px;
        padding-left: 13px;
        padding-right: 13px;
        color: white;
        font-weight: normal;
    }

    .image-header{
        width: 50%;
    }

    .invalid-input{
        color: red;
        font-size: 15px;
        padding: 0px !important;
        padding-left: 20px !important;
        position: absolute;
        margin-top: 15px;
    }

    @media screen and (min-width: 768px)    {
        img.image-header {
            width: 48%;
        }
    }
}
