<ion-header>
  <ion-title id="title">
    <img class="image-header" src="assets/imgs/Logo-ltm.png" alt="" padding>
  </ion-title>
</ion-header>




<ion-content padding>
  <div class="find">
    <ion-list>
      <p class="searchText">Consulta de cadastros</p>
      <ion-item>
        <ion-label>Evento</ion-label>
        <ion-select [(ngModel)]="searchTrucker.eventName">
          <ion-option value="">Selecione</ion-option>
          <ion-option *ngFor="let events of eventsOnce">{{events}}</ion-option>
          <!-- <ion-option value="Car">Car</ion-option>
          <ion-option value="Exemplo3">Exemplo3</ion-option> -->
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label floating> Data inicial</ion-label>
      <ion-datetime (ionBlur)="validDate(); validButton()" [(ngModel)]="searchTrucker.initialDate" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Data final</ion-label>
      <ion-datetime (ionBlur)="validDate(); validButton()" [(ngModel)]="searchTrucker.finalDate" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
  </div>



  <div class="search">

    <p *ngIf="!dateValidation" class="invalid-input">Data inicial maior que final.
      <br>
    </p>
    <p *ngIf="!finalDateValidation" class="invalid-input">Data final inválida
      <br>
    </p>
    <p *ngIf="!initialDateValidation" class="invalid-input">Data inicial inválida
      <br>
    </p>
    <button ion-button secondary icon-start [disabled]="!buttonValid" (click)="searchRegistration(); searchByDate()">
      <ion-icon name="search"></ion-icon>
      Buscar
    </button>
  </div>

  <div class="searchResult">
    <ion-list class="list-trucker">

      <p class="searchText"> Resultado da pesquisa &emsp;
        <span class="totalSearches">{{jsonConverter?.length}}</span>
      </p>
      <hr>
      <ion-item *ngFor="let total of jsonConverter">
        <h2>{{total.name}}</h2>
        <h3> &ensp; {{total.email}}</h3>
        <h4> &ensp; {{total.eventName}}</h4>
        <p> &ensp; {{total.profile}}</p>
      </ion-item>
    </ion-list>
  </div>
  <!-- <ion-item>
      <h2>Finn</h2>
      <h3>Don't Know What To Do!</h3>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item> -->
</ion-content>